[2018-01-02 12:11] yonibot opened #1 "Bug: Interface is not responsive"
The interface appears to be quite wide, at least on my screen (1440x900 MBP), and even when I put it full screen, a little bit gets chopped off on the sides. It would be better if it were either responsive, or perhaps narrower. Also, as an easy space gaining mechanism, the left sidebar could be made collapsible - once you're within a certain folder context, you may not need to jump around much.

L

[2018-01-02 12:14] Raathigesh commented on #1
That's unfortunate. I'll look into it. Is it blocking you from using the tool?

[2018-01-02 12:26] Raathigesh commented on #1
I just checked in a lower resolution. I see the issue. I'll try to get it fixed and push an update hopefully tomorrow.

[2018-01-02 12:28] Raathigesh commented on #1
The sidebar definitely looks wider than it should be. At least it runs. That's a relief. 😁

[2018-01-02 12:54] danieldunderfelt opened #2 "Bug: Tests column and main output area are empty"
I pointed Majestic at a project that is built with Preact. Once I started Majestic and ran the test suite, I noticed the "Tests" column and the main output area were empty. The "Show all failures" also did nothing.

Screenshot:

https://imgur.com/a/9CzVY

Not sure what is causing this, and I tried restarting Majestic and re-opening the project several times. My Jest config:

[code]
## Version Info

[2018-01-02 13:30] gricard opened #3 "Error when run in projects that don't use git/hg"
## Is this a bug report or a feature request?

Bug 🐛

## Problem:

It seems like Majestic just runs 'jest --watch' in your project directory, but for projects that don't use git or hg, it displays an error:

[code]

This is related to this issue: https://github.com/facebook/jest/pull/4737

Perhaps there should be an option to use --watchAll? Or, if you want to keep it zero-config, have it check fo

[2018-01-02 13:34] Raathigesh commented on #3
Oh snap! Did not know that --watch only works for a git-based project. I'll fix this.

If you want, you could turn off the watch mode via the toggle switch in the control bar for the time being but that's useless actually I guess :)

[2018-01-02 16:58] eliw00d opened #5 "Bug: Not working on Windows 10"
## Is this a bug report or a feature request?
Bug report.

## Version Info
- Version of Majestic: 0.1.0
- Version of Jest: 20.0.4
- Version of Node: 9.3.0
- Operating System: Windows 10

When I load a project in Windows 10, nothing shows up and running tests is not possible. I loaded the same project in OS X and was able to see my directory tree and run tests.

[2018-01-02 18:00] fbartho opened #6 "Feature Idea: brew cask install support 🎁"
I have a bootstrap script for new engineers on my project, and we install apps alongside our repo dependencies using `brew cask install <app-dep>`. It'd be neat if majestic supported this!

[2018-01-02 20:06] pertrai1 opened #7 "Support for Angular testing?"
## Is this a bug report or a feature request?

**Feature Request**: Does this work with other frameworks? Looks like a good app, and will download once I know if I can configure it for running tests with Angular.

[2018-01-02 21:12] Raathigesh commented on #7
If you write your tests with [Jest](https://facebook.github.io/jest/docs/en/testing-frameworks.html#angularjs), Majestic should work. But I never tested with an angular project so feel free to try out and let me know. I would love to help to make it work.

[2018-01-02 21:14] Raathigesh commented on #5
That's strange because my primary laptop is windows 10 and Majestic was developed and extensively tested on Windows. Would you be able to provide a bit more info on how the configuration looks? Maybe a small repo to recreate the issue would be really helpful.

[2018-01-02 21:16] Raathigesh commented on #6
I'll look into this 👍

[2018-01-02 21:22] pertrai1 commented on #7
@Raathigesh  - I will give it a test run and let you know the results.

[2018-01-03 08:31] Alaev opened #8 "regex problem running single test"
## Is this a bug report or a feature request?

it's a bug 🐛.

## Version Info

- Version of Majestic: 0.1.0
- Version of Jest: 22.0.4
- Version of Node: 9.1.0
- Operating System: OSX

## Bug on running single test

At the moment looks like the regex exp is not working when clicking the single test run button

![screen shot 2018-01-03 at 10 23 08](https://user-images.githubusercontent.com/3925474/3

[2018-01-03 08:36] Raathigesh commented on #8
Thank you for such a detailed report. I'm aware of this issue but couldn't find time to pinpoint the exact reason for it yet. I'll take a look soon.

[2018-01-03 08:37] Raathigesh commented on #8
Oh! Are you saying it fails even in the CLI with regex?

[2018-01-03 08:50] Alaev commented on #8
@Raathigesh Yep, I think they are doing the regex in the background so there is no need to add `^$` Great app loved how you utilized react and mobx :)

[2018-01-03 09:07] AvraamMavridis opened #10 "Bug: It doesn't recognise the project"
## Is this a bug report or a feature request?

 🐛.

## Version Info

- Version of Majestic: 0.1.0
- Version of Jest: latest
- Version of Node: 8.7
- Operating System: OS X

This is my configuration on package.json

[code]

No files are shown up in the sidebar, when I press the run test, nothing happens. No error displayed either though.

[2018-01-03 09:09] Raathigesh commented on #8
I'll have a look again. Glad you like the project. React and Mobx is really fun to work with.

[2018-01-03 09:15] Raathigesh commented on #10
The issue is you are relying on the [default test regex pattern](https://facebook.github.io/jest/docs/en/configuration.html#testregex-string) and your configuration does not have a test regex pattern or a [test match pattern](https://facebook.github.io/jest/docs/en/configuration.html#testmatch-array-string). I completely overlooked the defaults of these patterns so that's why it doesn's show up.

[2018-01-03 09:25] AvraamMavridis commented on #10
@Raathigesh yep that solved the problem, the tests are recognized, there are some other bugs but I guess are not related and you will solve them in feature releases. Thx a lot, great project!

[2018-01-03 09:25] #10 closed

[2018-01-03 09:28] AvraamMavridis commented on #10
Sure, thx a lot

[2018-01-03 09:47] Raathigesh commented on #8
Removing the regex fixes the issue.

[2018-01-03 09:47] #8 closed

[2018-01-03 09:49] Raathigesh commented on #2
The default regex was not provided when it's not configured by the user.

[2018-01-03 11:03] azz opened #12 "🃏Add Tests"
Unless I'm missing something there aren't any tests! I would recommend this great test runner called "Jest", you might have heard of it :wink:.

In all seriousness, the stack you've chosen has a great set of tooling such as:

- [`jest-styled-components`](https://github.com/styled-components/jest-styled-components)
- [`enzyme`](https://github.com/airbnb/enzyme)
- [`spectron`](https://github.com/ele

[2018-01-03 11:08] Raathigesh commented on #12
Haha! Totally. I overlooked tests earlier so I can just get something out to see the feedback. As it turns out, people like the idea. Thanks for the pointers. I'll have to start writing tests soon.

[2018-01-03 13:57] paulmolluzzo opened #15 "New Release (and auto updates?)"
Thank you for this awesome tool! ❤️

## Is this a bug report or a feature request?

🎁  Feature Request

Is it possible to release `master` in the near future? `v0.1.0` has a few issues that are resolved on `master`. #2 is fixed in `master` but not in the download available on the site, so I'm running the dev version for now.

Also, ideally Majestic would automatically check for updates and offer a

[2018-01-03 14:13] Haroenv opened #16 "Requires node to be installed globally"
## Is this a bug report or a feature request?

🐛

Please specify whether this is a feature request 🎁 or a bug 🐛.

## Version Info

- Version of Majestic: 0.1.0
- Version of Jest: 22.0.3
- Version of Node: (not installed globally), using nvm: 9.3.0 is the default
- Operating System: macOS 10.13.2

## Info

The "output" is `env: node: No such file or directory`

Maybe run `nvm use` in the directory

[2018-01-03 14:20] Haroenv commented on #16
I also have this issue in VS Code, so it might be related to node-pty instead of this 🤔

[2018-01-03 14:24] Haroenv commented on #16
maybe https://github.com/Tyriar/node-pty/issues/112 ?

[2018-01-03 16:00] mrchief opened #17 "Ability to setup Env vars for running tests"
## Is this a bug report or a feature request?
🎁 Feature request

## Version Info
N/A

How does one specify env vars for running tests? I have npm scripts setup to initialise env vars before running tests like these:

[code]
With majestic, I cannot set these in the UI since there is no such option and majestic seems to be not using the npm scripts.

[2018-01-03 16:05] peterschussheim commented on #16
I have this problem too using the same version info as Haroenv.

[2018-01-03 18:39] HipsterZipster opened #18 "Windows Setup executable should not require elevated permissions"
## Is this a bug report or a feature request?

Bug

## Version Info

- Version of Majestic: 0.1.0
- Version of Jest: 22.0.0
- Version of Node: 8.7.0
- Operating System: Windows 7

## Reproduction Repo

majesticsetup0.1.0.exe currently requires elevated permissions (UAC) in order to run. Is this necessary? Is there any way to generate an exe that doesn't require it?

It's a blocker for many develop

[2018-01-03 21:13] Raathigesh commented on #15
The plan is to release a new version end of this weekend.

Majestic uses https://www.electron.build/ and it supports auto updates without an update server. So when the new released is pushed, Click the link which says "Check for update" in the footer of the sidebar to install the update. Majestic normally checks for update automatically during the initial launch.

But I agree it would be better to

[2018-01-03 21:15] paulmolluzzo commented on #15
Awesome! Thank you for the response!

[2018-01-03 21:19] Raathigesh commented on #18
Majestic uses https://www.electron.build/configuration/nsis for packaging. I understand your concern but I'm not quite sure whether the auto update would work without elevation. I'll have to check on this and get back.

[2018-01-03 21:25] lorderikir commented on #16
Yep, same problem for me.
Currently on Node v9.2.0 (npm v5.6.0)
macOS High Sierra (v10.13.2)

[2018-01-03 22:22] ScottEfird opened #20 "Bug: Show Output popdown displays incorrectly"
## Is this a bug report or a feature request?
This is a bug.

## Version Info

- Version of Majestic: Version 0.1.0
- Version of Jest: : 20.0.4
- Version of Node: 6.11.1
- Operating System: Windows 10 Up to date

## Reproduction Repo
I have three monitors, if I open up the Show Output popdown I get this bug. Running the program not at full screen fixes it. Monitors are 2560 x 1440 with normal scal

[2018-01-03 22:24] Raathigesh commented on #16
I myself is not a nvm or mac user so I have to dig into this a bit to see what we can do.

@Haroenv Running `nvm use` in the directory would make node available globally?

[2018-01-03 22:25] Raathigesh commented on #20
That's unfortunate. I'm planning to move the console pane as a sliding panel to the right so it would be more convenient. I'll have a look.

[2018-01-03 22:27] ScottEfird commented on #20
That might be a little bit better of a work flow too.

[2018-01-03 22:29] Raathigesh commented on #17
Currently it does not use the npm scripts. But certainly we can make a way to set the environment variables.   I would rather introduce a section called `majestic` in package.json and have the ability to set the environment variables there. Thoughts?

[2018-01-03 23:00] Zyst commented on #5
I also have an issue with this. The tests themselves can run if I click it manually, but the project tree/etc don't seem to work.

![Screenshot with no project tree functionality](https://user-images.githubusercontent.com/3832380/34543558-1da45a58-f0a7-11e7-91fe-18df2ae6e0ef.png)

The only thing that I can think of is that this project is lerna based, so that might be throwing the tool off? I am r

[2018-01-03 23:03] Raathigesh commented on #5
Would you please share how your jest config looks like?

[2018-01-03 23:14] Zyst commented on #5
Something like so:

[code]

[2018-01-03 23:20] Raathigesh commented on #5
Same reason as https://github.com/Raathigesh/majestic/issues/10#issuecomment-354966014

Add `testMatch` pattern as a workaround for now. This would be fixed in the next release.

[code]

[2018-01-03 23:24] Zyst commented on #5
Yep that was it! Sorry for the false signal there.

[2018-01-03 23:27] Raathigesh commented on #5
No worries. I also noticed that you have a `coverageDirectory` configured and this would make the tool not to display the coverage reports in the `coverage` tab since majestic does not respect that setting but it should. It's a bug and should be fixed.

[2018-01-03 23:58] James-E-Adams commented on #12
Whilst we're having an iress party, I may be able to contribute some tests if I get some free time this weekend. Love the idea @Raathigesh - trying to get it hooked up to a project now. :)

[2018-01-04 00:19] James-E-Adams opened #21 "[Feature] Add an open project option to the top toolbar"
![image](https://user-images.githubusercontent.com/9067274/34545414-f2a365c0-f140-11e7-8d39-748abea61ea3.png)
Maybe just left of `help`, it could be useful to have a way to open a project. I.e` File -> open project..`

[2018-01-04 00:36] James-E-Adams commented on #21
As currently you have to close and reopen majestic to switch projects as far as I can tell.

[2018-01-04 00:37] Raathigesh commented on #21
Yep. This workflow needs some serious improvement.

[2018-01-04 00:45] Raathigesh commented on #12
Awesome. Thank you!

[2018-01-04 00:52] James-E-Adams commented on #21
Coolio. Maybe I'll start with this on the weekend.

[2018-01-04 00:56] mrchief commented on #17
You could but then I see 2 issues with that:

 - possible duplication of props: you have to declare and maintain same set of vars in 2 places since most projects _will have_ and _continue_ to keep the option of running via CLI (my `betterScripts` is one such example)

 - takes it further away from being zero-config

Most people have `npm test` or `yarn test` configured to run in a certain way. By

[2018-01-04 01:23] James-E-Adams opened #23 "Check if a test script is available before running npm/yarn jest directly"
A lot of projects add flags to their jest calls under a script labelled `test` in their package.json. We should probably support this preferentially, and then default back to running `yarn jest` directly.

[2018-01-04 04:44] ddebarros commented on #12
@James-E-Adams  i'd also be interested in writing some tests for the renderer portion using spectron

[2018-01-04 04:56] Raathigesh opened #24 "Show toast message when new update is available"
Show toast message to let the user know that there is an update available. Currently it just shows in the sidebar footer which is not prominent enough.

[2018-01-04 04:57] Raathigesh commented on #15
Will track the enhancement via https://github.com/Raathigesh/majestic/issues/24

[2018-01-04 04:57] #15 closed

[2018-01-04 04:58] Raathigesh opened #25 "Ability to start a debugging session in VS Code from Majestic"
Ability to debug a particular test in VS Code by clicking a button.

### How this would work?
The user has to install the majestic VS Code extension. This extension would connect to a socket server hosted by Majestic.

When user clicks the debug button in Majestic for a particular test, Majestic would instruct the extension to launch the debugger for the specific test.

VS Code allows you to have

[2018-01-04 07:41] James-E-Adams commented on #12
Sure thing @ddebarros, that would be great. I'll look into some unit tests/basic sanity tests using enzyme and jest.

[2018-01-04 09:10] Raathigesh commented on #23
This is a valid concern and also the same issue raised in #17.

What I'm thinking is to still have the current method, which is executing jest directly as the default but introduce a majestic subsection in package.json which takes in the name of the script that should be executed by majestic if specified.

[code]

This approach allows the simpler project, which does not need the custom script, to

[2018-01-04 09:12] Raathigesh commented on #17
Good point! I've summarized an approach here https://github.com/Raathigesh/majestic/issues/23. That seems like a middle ground. Let me know what you think!

[2018-01-04 11:09] James-E-Adams commented on #23
Yup. I like that approach. Zero config if your project isn't a unique 🌻, otherwise provide the option to wire it up correctly.

[2018-01-04 12:21] Raathigesh commented on #20
This is how it would look going forward.

![image](https://user-images.githubusercontent.com/3108160/34563244-f980eab0-f1a5-11e7-8689-5017b99ecf3f.png)

[2018-01-04 12:21] #20 closed

[2018-01-04 16:03] BrianSchroer opened #26 "Bug: Typo - Execution Summary "Test Suits" heading should be "Test Suites""
bug 🐛

## Version Info

- Version of Majestic: 0.1.0
- Version of Jest: N/A
- Version of Node: N/A
- Operating System: N/A

## Info

In the Execution Summary section, the "Test Suite" heading is misspelled.

It looks like a simple fix to [test-summary.tsx](https://github.com/Raathigesh/majestic/blob/master/src/renderer/components/topbar/test-summary.tsx) is required:

`<span>Test Suites</span>`

[2018-01-04 16:04] BrianSchroer commented on #26
I can submit a pull request to fix this if that's OK.

[2018-01-04 16:49] mrchief commented on #17
@Raathigesh I'd still suggest to make the npm test script default and if not, then use `yarn jest` (or whatever majestic uses). I think the approach in #23 has it in reverse.

That said, the config section in #23 is still minimal and doesn't require duplication of props/env vars setup so that's a good approach.

In the end, the sensible default, IMHO, would be to pick `npm test` _first_ since that

[2018-01-04 21:19] ddebarros commented on #12
@James-E-Adams  is there a specific file structure you have in mind? I'm proposing something like this
[code]

[2018-01-04 21:37] James-E-Adams commented on #12
Nope, that's fine for now. Can always refactor later on.

[2018-01-04 22:38] Raathigesh commented on #26
Thank you for the PR. I suck at spelling things 😄

[2018-01-04 22:38] #26 closed

[2018-01-04 22:42] Raathigesh commented on #17
What's scary about `npm test` is, it should be a minimal script with `jest --aditionalPams`. Otherwise if the test script contains anything extra like linting, majestic would break. This is because majestic provides extra args to the script.

[2018-01-04 23:58] mrchief commented on #17
Oh I see. #23 it is then! :)

[2018-01-05 17:33] mjoyce91 opened #28 "🐛 Getting error "execvp(3) failed.: No such file or directory" when attempting to run tests"
## Bug 🐛

## Version Info

- Version of Majestic: 0.1.0
- Version of Jest: 20.0.3
- Version of Node: 6.11.5
- Operating System: Sierra 10.12.3

When I attempt to run all tests or individual tests, I receive the following error:

[code]

Jest config is in `package.json`

[code]

[2018-01-05 22:11] keplersj commented on #7
This should help. https://github.com/thymikee/jest-preset-angular

[2018-01-05 23:01] James-E-Adams commented on #21
Working on this now. In `menu.ts`, I'm trying to bring in the workspace from store.
But when I call `workspace.openProject();`, it's erroring because Toaster wants the document available when the workspace is created.

![image](https://user-images.githubusercontent.com/9067274/34632267-92f373e8-f2c8-11e7-8824-cade2066bd1b.png)

[2018-01-05 23:04] James-E-Adams commented on #21
I wonder if the workspace store can be broken down, and some utility functions brought out. Seems a bit monolithic atm, and it may be hard to use a small part of it (like in this scenario.)

[2018-01-05 23:13] Raathigesh commented on #21
This is because electron dont allows us to use the stuff from renderer directly from the main process. The stuff in the main folder are the once we can use on the main process. And menu is only available in the main process. We have to use the ipc module of electron to send a message to the renderer when the menu is clicked and then listen to the message from the  renderer.

[2018-01-05 23:19] Raathigesh commented on #21
We should be able to do the below from main.ts
[code]

and then in the renderer
[code]

https://github.com/electron/electron/blob/master/docs/api/ipc-renderer.md

[2018-01-05 23:20] James-E-Adams commented on #21
Yup I was just reading up about that - it's just an EventEmitter, so shouldn't be to hard to hook up. Thanks for the snippet, will see how I go.

[2018-01-05 23:21] Raathigesh commented on #21
Yep! Awesome 👍

[2018-01-05 23:25] Raathigesh commented on #7
@pertrai1 As far as you get jest to work with angular, Majestic should work. I'm closing this for now but feel free to re-open if you see an issue where Jest works but majestic doesn't.

[2018-01-05 23:25] #7 closed

[2018-01-05 23:33] Raathigesh opened #29 "Immediate window for quick debugging"
## Is this a bug report or a feature request?

Feature request 🎁

## How the feature should work?

We console log most of the time to quickly see the values variables are holding. But it could be overwhelming to find the conole.log results when you have thousands of lines printed to the console.

This is a crazy idea to make that work with the luxury of the UI we have in majestic. You would still

[2018-01-05 23:34] James-E-Adams commented on #21
Cool. Got it. Will open a PR now. :)

[2018-01-06 05:06] Raathigesh commented on #1
The sidebar is now collapsible with `ctrl+b` and also sidebar could be shrunk even more by using the split panel handler. This would be shipped in the upcoming release.  Hopefully by this weekend 😅

[2018-01-06 05:06] #1 closed

[2018-01-06 05:15] Raathigesh commented on #5
@eliw00d Do you have any other info that would help us to look into this? Perhaps a screenshot of the error on the console (Help menu => Open Dev Console).

[2018-01-06 05:17] Raathigesh commented on #28
That's unfortunate. Majestic expects node to be available globally. Can you help to dig into this issue a bot more?

[2018-01-06 05:18] Raathigesh commented on #21
Thanks James for the PR.

[2018-01-06 05:18] #21 closed

[2018-01-06 05:26] James-E-Adams opened #33 "Add electron-react-devtools automatically"
As discussed in the initial PR - still unsolved.

Aim:

To avoid the step described in the readme, but only do it in development mode of course.

[2018-01-06 05:28] James-E-Adams commented on #33
Ooo found this. https://github.com/electron/electron/blob/master/docs/tutorial/devtools-extension.md

exploring.

[2018-01-06 05:40] James-E-Adams commented on #33
Weooo! Got it, with a hardcoded path. Now just to work out how to make it universal.

[2018-01-06 05:42] Raathigesh commented on #33
Nice 😄

[2018-01-06 05:46] James-E-Adams commented on #33
[code]
in `main\index.ts` but two things:

a) config for OS because this will only work for windows.
b) versions of react dev tools probably have different extension hashes.

This is probably not worth investing any more time in as now I've finished my coffee and should do something more productive. ☕️

[2018-01-06 05:49] Raathigesh commented on #33
You are right. Let's put it on hold then. But thank you so much for digging into it 😃

[2018-01-06 06:37] James-E-Adams commented on #33
Happy to be involved! On a similar note - I wanted styled components to show up nicely in the react dev tools, using https://github.com/styled-components/babel-plugin-styled-components. It should just work out of the box since here https://webpack.electron.build/add-ons it says it automagically adds any babel plugins/presets - but haven't had any luck.

[2018-01-06 06:47] Raathigesh commented on #33
Did you try restarting the app? I can recall previously webpack electron was behaving strangely by not picking up the plugins 😞

[2018-01-06 07:02] James-E-Adams commented on #33
I did 😢 .

[2018-01-06 09:07] James-E-Adams opened #35 "[todo] Set up CI"
Probably TravisCI, unless anyone has any strong opinions?

[2018-01-06 09:13] Raathigesh commented on #35
TravisCI should be good. Travis supports linux and osx but I never tried majestic on a linux machine before. So should we go with osx? and Maybe later https://www.appveyor.com/ for windows.

[2018-01-06 09:33] James-E-Adams commented on #35
@Raathigesh check out https://travis-ci.org/James-E-Adams/majestic

It doesn't have access to jest-editor-support. We have to come up with a way to bring in jest-editor-support without linking it.

[2018-01-06 09:48] Raathigesh commented on #35
Npm does not have the latest always. We usually change things in jest-editor-support and make a PR to the jest repo. But jest-editor-support would be published only when jest is released. But currently we are using the latest version of jest-editor-support so let's remove the link for now and it should work.

[2018-01-06 10:24] azz commented on #35
Did that in #37

[2018-01-06 10:27] #35 closed

[2018-01-06 10:29] James-E-Adams commented on #35
Yup, beat me to the PR.

[2018-01-06 10:31] azz commented on #35
🚤

[2018-01-06 11:16] Raathigesh commented on #29
![image](https://user-images.githubusercontent.com/3108160/34639207-3ec565ee-f32f-11e7-904d-54480c88650f.png)

[2018-01-06 11:19] Raathigesh commented on #29
This seems hacky but the goal of this feature is, it should just work without additional setup. @James-E-Adams @azz thoughts?

[2018-01-06 11:24] azz commented on #29
Wouldn't it be better to attach logs to a particular test and display them in the main panel?

[2018-01-06 11:32] Raathigesh commented on #29
It's pretty hard to correlate the console log to a test right now. Jest-editor-support simply asks the process to write the results to a file in a temp loc (https://facebook.github.io/jest/docs/en/cli.html#outputfile-filename) and the reads the output from there. I don't think console logs would be there in the output file.

[2018-01-06 11:33] James-E-Adams commented on #29
Yeah I'm with @azz on that one. Not considering difficulty of implementation yet, ideally we'd have console.logs for each test show under each test in the main window.

[2018-01-06 11:34] James-E-Adams commented on #29
So how would you distinguish between each test's logs with what you've proposed?

[2018-01-06 11:36] Raathigesh commented on #29
IMO, someone wants to use this when they are debugging a single test. So pretty much you know what you are debugging? 🤔

[2018-01-06 11:36] James-E-Adams commented on #29
Hmm. Maybe we could do it only when an individual test's play button is hit. Then you could capture all logs and assume they are relevant for the individual test?

[2018-01-06 11:37] James-E-Adams commented on #29
Yeah - I just realised the use case for attaching logging is usually on a test by test basis.

[2018-01-06 11:37] Raathigesh commented on #29
That's a good point and I'm thinking of that too. So this feature would work only when you run a single test.

[2018-01-06 11:39] azz commented on #29
Why not just use vscode-jest for that?

![image](https://user-images.githubusercontent.com/1297597/34639335-48699432-f332-11e7-8130-161afc2a4f0c.png)

[2018-01-06 11:42] Raathigesh commented on #29
Yes. vscode-jest is pretty great for that. And I'm working on a first class vscode debugging experience just like this. You click a button on majestic and it would launch a debugging session on vscode (https://github.com/Raathigesh/majestic/issues/25). But not everyone uses vscode and even peole use vscode does not debug sometimes on it because getting the debugger to work is not always easy.

[2018-01-06 11:51] Raathigesh commented on #29
So I guess will hold displaying the logs since there is not a neat way of doing it.

[2018-01-06 11:52] Raathigesh commented on #29
We can always open the output panel and have a look at it.

![image](https://user-images.githubusercontent.com/3108160/34639426-437304f2-f334-11e7-89bd-eef3ba23524c.png)

[2018-01-06 11:54] Raathigesh commented on #29
Or since I have it, I'll just leave it and tell no one about it 😁

[2018-01-06 19:08] eliw00d commented on #5
Upon loading the project I get the following error:
[code]
So, nothing gets loaded. If I try to run tests I get this error:
[code]

[2018-01-07 03:48] guyellis opened #39 "Linux Debian / Ubuntu support"
## Feature request

Please can you provide a .deb install file for Linux Debian (includes Ubuntu) distros.

## Version Info

n/a

[2018-01-07 03:57] Raathigesh commented on #39
I have to find a way to set up the environment so I can test and release. I'll try to set up a VM for this. Would you be able to help with testing this in a Linux environment? Checking out a repo and running the app to make things are working as it supposes to would be helpful.

[2018-01-07 04:02] James-E-Adams commented on #39
If the ubuntu image ever downloads, will see what I can do - might have to wait till later in the week though.

[2018-01-07 04:03] Raathigesh commented on #39
Thanks @James

[2018-01-07 04:09] James-E-Adams commented on #39
![image](https://user-images.githubusercontent.com/9067274/34646452-cabc2fbe-f3bc-11e7-9944-8cf19b94749d.png)
It's not looking promising.

[2018-01-07 05:07] guyellis commented on #39
I can definitely help test this if there's a .deb file to download.

[2018-01-07 05:10] Raathigesh commented on #39
We don't have a .deb file yet. But you could clone the repo and then do the following to get it running.
[code]

if you see the app running successfully, try `yarn linux`. This command would create a package.

[2018-01-07 11:01] Raathigesh commented on #29
So I just wanted to see how useful this would be for people who rely on a console to debug. So for not just have this implemented under preference flag so if this is trouble, users can turn it off.

![image](https://user-images.githubusercontent.com/3108160/34648837-41df4fb6-f3f6-11e7-9f5a-626bdc9cab5c.png)

[2018-01-07 11:01] #29 closed

[2018-01-07 11:05] Raathigesh commented on #29
And this implementation does not require to use any special characters while logging as earlier planned. Using regex to figure out the logs from the output stream which is not very reliable, so experimental.
Jest team suggested to use [setupFiles](https://facebook.github.io/jest/docs/en/configuration.html#setupfiles-array) and override the console method to get hold of the console logs which would

[2018-01-07 11:39] Raathigesh opened #40 "Colorize console output with ansi-to-html"
Console output is just single color string now. Colorize with https://github.com/rburns/ansi-to-html

[2018-01-07 12:13] Raathigesh commented on #40
![image](https://user-images.githubusercontent.com/3108160/34649290-51ebfc6a-f400-11e7-8cc1-9d9e62f42531.png)

[2018-01-07 12:13] #40 closed

[2018-01-07 13:59] Raathigesh commented on #25
VS Code extension is available as a preview in the market place. https://marketplace.visualstudio.com/items?itemName=Raathigeshan.majestic

[2018-01-07 13:59] #25 closed

[2018-01-07 15:47] guyellis commented on #39
This is what I get when I run it on Ubuntu 16.04:
[code]

[2018-01-08 01:05] inthedeepend commented on #10
I believe it would be helpful to be slightly more verbose in the documentation on what is required from the jest.config file - as it's possible to run basic Jest suites without needing a config object.

Something along the lines of this would be great.

Majestic requires the following Jest config object/file at minimum in order to recognise your test suite.
[code]

[2018-01-08 01:45] Raathigesh commented on #10
Majestic should work with the config Jest works with. This is a bug of majestic and its fixed in the master. Should be available with the next release.

[2018-01-08 09:12] Raathigesh commented on #39
Thank you for getting back on this. You can safely ignore this warning. This is the auto updater complaining while we start the app in dev mode.

Other than this,  did you see the UI and is the app functional?

[2018-01-08 10:19] zanza00 commented on #16
I have the same problem, using also nvm.

I think that the correct command should be `nvm use default`

[2018-01-08 10:50] Haroenv commented on #16
`nvm use` in the directory for that directory's nvm version (if it has `.nvmrc` in the directory or its parents). `nvm use default` will always pick the global version, which might not be the same as used in that folder

[2018-01-08 10:54] danielbrodin opened #41 "Tests tree in sidebar includes tests that shouldn't be included"
In my jest config I have set `roots` to `["<rootDir>/a/b/c/d"]` because I have all my tests from "d" and under, and there could be other tests that I do not want included from the other dirs.
My `testMatch` however is set to `"**/__tests__/**/*.test.(js|jsx)"` which I guess is the reason for some tests showing up in the tree structure under "Tests"?

I cannot however run those tests from majestic/

[2018-01-08 11:05] Raathigesh commented on #41
This does seem like a bug. Is this a blocker for you?

[2018-01-08 11:47] Raathigesh commented on #18
Next release not needs to be elevated 🎉 App installs per user and not per machine.

[2018-01-08 11:47] #18 closed

[2018-01-08 12:12] danielbrodin commented on #41
@Raathigesh absolutely no blocker, just wanted to inform you :)

[2018-01-08 12:14] Raathigesh commented on #41
That's good news. Will try to address this in an upcoming release.

[2018-01-08 12:29] zanza00 commented on #16
`nvm use` without a `.nvmrc` doesn't work. it prints `No .nvmrc file found`.

I don't think there is a unique command of nvm that solve the problem, the best strategy would be to use `nvm use` if `.nvmrc` is present otherwise use `nvm use default`

[2018-01-08 12:59] Haroenv commented on #16
`nvm exec jest` or `yarn jest` would work maybe?

[2018-01-08 14:10] guyellis commented on #39
This is the repo I'm working on: https://github.com/guyellis/plant

This is the commit that adds the reference to the jest custom config: https://github.com/guyellis/plant/commit/60c9cf8386b42fc0c6743b598ab9aefff5c79ec0

This is the error that I get when I try File > Open Project:

[code]

The Coverage "viewer", however, is working well and I really like that interface into my coverage files - so

[2018-01-09 08:59] zanza00 commented on #16
`nvm exec ...` should work, it falls back to the default `alias`

[2018-01-09 12:22] Raathigesh commented on #23
As it turns out, running the npm script directly could cause some unintended behavior. For example, when there is a test failure, npm script would fail with a non 0 exit code. So this is the current implementation is, package json accepts a `runScript` property in the majestic sub-section.

Feedback is welcome.

[code]

[2018-01-09 12:23] Raathigesh commented on #17
As it turns out, running the npm script directly could cause some unintended behavior. For example, when there is a test failure, npm script would fail with a non 0 exit code. So this is the current implementation is, package json accepts a `runScript` property in the majestic sub-section.

Feedback is welcome.

[code]

Will have to introduce environment variables as well.

[2018-01-09 13:33] mpourismaiel commented on #39
I tried `yarn dev` and didn't any visual problems. Although `yarn linux` yielded this error:

[code]

[2018-01-09 17:04] cuchi opened #42 "Project fails to build on Workspace.ts"
- Version of Majestic: 0.1.0
- Version of Node: 9.3.0
- Operating System: Debian Sid

Maybe I am doing something wrong, but this is what happens when I try to build the project:

### Steps to reproduce:
- Link `jest-editor-support` from jest
- Build majestic:
[code]

Then the following errors occours:
[code]

This also happens on the master branch (other files, but `Cannot find module` errors too)

[2018-01-09 23:35] iamnapo commented on #6
(Awesome project 👏 )

Can I take a look at this?

[2018-01-10 05:30] Raathigesh commented on #6
@iamnapo I'm glad that you find the project useful. Please do!

[2018-01-10 10:44] Raathigesh commented on #42
So there were few typescript errors I fixed on master so would you be able to try again. Also you can avoid doing a yarn link for now since the latest `jest-editor-support` is available on npm.

But as I recall, there is an issue in the  `jest-editor-support`  module's type-definition file so you might have to edit that a bit.

[2018-01-11 11:40] Raathigesh commented on #1
This is shipped now. You can toggle the sidebar with `ctrl+b`. This is a start and more UI improvements coming soon :)

https://github.com/Raathigesh/majestic/releases/tag/v0.2.0

[2018-01-11 11:41] Raathigesh commented on #18
This is shipped https://github.com/Raathigesh/majestic/releases/tag/v0.2.0

[2018-01-11 11:41] Raathigesh commented on #20
Fixed in release https://github.com/Raathigesh/majestic/releases/tag/v0.2.0

[2018-01-11 11:42] Raathigesh commented on #10
This fix is released in https://github.com/Raathigesh/majestic/releases/tag/v0.2.0

[2018-01-11 11:42] Raathigesh commented on #2
Should be fixed in https://github.com/Raathigesh/majestic/releases/tag/v0.2.0

[2018-01-11 18:33] nfarina opened #43 "Pass custom parameters to node process"
## Is this a bug report or a feature request?

🎁

## Version Info

- Version of Majestic: 0.2.0
- Version of Jest: 22.0.4
- Version of Node: 9.3.0
- Operating System: macOS 10.13.2

## Feature Request

I'm currently using the `async generator-functions` feature from Babel, which requires me to pass the flag `--harmony-async-iteration` to node.

When I run jest from the CLI, I must run it like this

[2018-01-12 11:57] Raathigesh commented on #43
Could you please share the exact string u provided to runScript ?

[2018-01-12 12:31] linonetwo commented on #28
Me too, I use nvm to manage my node.

[2018-01-12 13:07] hoschi opened #44 "Project fails on Linux to build"
## Is this a bug report or a feature request?

Please specify whether this is a feature request 🎁 or a bug 🐛. bug

## Version Info

- Version of Majestic: tried master (4732e) and 0.2.0
- Version of Jest:?
- Version of Node: v8.9.1
- Operating System: linux (arch)

I did
* clone from github
* npm install
* npm run rebuild
* npm run linux:

[code]

[2018-01-12 13:51] mjoyce91 commented on #28
I also use nvm, which was my initial thought.

[2018-01-12 20:53] nfarina commented on #43
It's the same one above:

[code]

[2018-01-17 04:55] Raathigesh commented on #44
I haven't seen this issue before. Can you try disabling the source map support from webpack.cofig and try again, please?

[2018-01-17 05:02] Raathigesh commented on #43
Sorry, I missed that.  Right now the support for the custom script is very minimal.  The custom script allows you to pass additional parameters to Jest process but the script assumes the format would be something like `jest --aditionalParameterUserProvides` and then Majestic also appends some more parameters so It can do it's thing.

https://github.com/Raathigesh/majestic/blob/4732ec571bab3663bda2

[2018-01-17 08:46] hoschi commented on #44
@Raathigesh I can try, where do I do that? Can't see a config file.

[2018-01-19 07:15] danieldunderfelt commented on #2
Hi!

Version 0.2.0 does not fix the main area being empty for me. It still is.

![](https://i.imgur.com/GETl4ba.png)

The Tests column seems to work however!

I modified the config a bit to try and get it to work, by adding the default regex and removing coverage settings, but to no avail.

[2018-01-19 18:20] izakfilmalter commented on #28
Ran into the same bug. Using nvm as well.

[2018-01-22 14:11] wonskarol opened #45 "Question about debugging in VSC"
Hey,

Im not sure if I use your VSC plugin correctly. To debug a test, first I have to go to VSC and set breakpoint by myself. Then switch to Majestic, press "Start debugging in VS Code" button, go back to VSC by myself (it doesn't open editor automatically like "open editor and go to this test" button) to eventually debug 😅
I would expect that when I click debug button, VSC opens my test in debug

[2018-01-24 06:04] Raathigesh commented on #45
There are some definite improvements in this workflow.  The major part I wanted to address via the VSC plugin is to remove the hassle of editing the launch config with the test name I want to debug before start debugging.  All the above-mentioned enhancements make sense and I'll have them in the backlog. if you are feeling like contributing, feel free to send  a PR 😄

"Show all features" debug fea

[2018-01-24 06:34] gautamarora commented on #16
@Raathigesh - i ran into this problem as well with nvm, and can try to test the fix suggested above of running `nvm use`.

Will this be something that needs to be run on application start (and possibly be added to [Process.ts](https://github.com/Raathigesh/majestic/blob/master/app/src/renderer/util/Process.ts#L11) or is there another place in code where you think this should be added?

[2018-02-03 03:01] klequis commented on #39
Also gave it a try on Ubuntu 16.04 using `yarn dev`. Ignoring the error in the console, same as @guyellis , it appears to be working on a simple JS project with one test file and 11 tests.

[2018-02-14 00:03] JohnathonLamOF opened #46 "No test tree"
## Is this a bug report or a feature request?

Please specify whether this is a feature request 🎁 or a bug 🐛.

## Version Info

- Version of Majestic: 0.2.0
- Version of Jest: "jest": "^22.2.2"
- Version of Node: 8.9.4
- Operating System: Windows 10

## Reproduction Repo

Here is my jest configuration `"jest": {
        "verbose": true,
        "collectCoverage": true,
        "coverageReporters":

[2018-02-22 14:29] brunocroh commented on #46
same issue here

Version of Majestic: 0.2.0
Version of Jest: "jest": "^22.1.3"
Version of Node: 8.9.3
Operating System: Windows 10

[2018-02-26 14:00] LoicMahieu commented on #16
Just my 2 cents:
[code]

[2018-03-15 07:32] Raathigesh opened #47 "Moving away from electron?"
I've been thinking about this for a while so let me put those into words here.

I love electron for what it enables but every app out there does not need to be an electron app. Majestic made perfect sense as an electron app but maintaining it for multiple platforms takes effort. So I'm thinking of experimenting by porting majestic as an npm module with a web interface.

### How would I use it?
- Y

[2018-03-15 09:39] #47 closed

[2018-03-17 11:25] Raathigesh commented on #2
Hey @danieldunderfelt,

let me take a look. Sorry for the late reply. Was out of the country for a while.

[2018-03-26 09:45] Raathigesh commented on #46
Opps! I can reproduce the issue. Will have a look!

[2018-03-26 09:47] Raathigesh commented on #44
Hey @hoschi, We use https://webpack.electron.build/ You can provide a custom config to webpack electron. Let me know if you run into any issue, please.

[2018-03-26 21:17] #6 closed

[2018-03-29 07:51] Raathigesh opened #50 "Majestic V1"
This is a plan to make majestic more awesome with version 1

## Decouple from electron

Extract the main UI and the main business logic as a core library and implement a thin communication adapter so it could be used to talk to electron via IPC messages.

## Majestic via npm

Electron is great but not everyone is a fan of it. Moving electron away from the core implementation would enable us to dis

[2018-06-11 15:05] hoschi commented on #44
I tried again and after installing missing linux packages mentioned in https://github.com/SimulatedGREG/electron-vue/issues/130 I get now this error:

[code]
@Raathigesh do you have an idea what is causing this?

[2018-06-11 15:06] hoschi commented on #44
`yarn dev` works btw

[2018-06-11 22:52] Raathigesh commented on #44
I'm not quite sure what's causing this issue.

I've been working on a [majestic rewrite](https://github.com/Raathigesh/majestic/tree/next). It's now an npm module and not an electron app.

If you like to try the alpha build of the new majestic, please follow the steps.

- Install majestic globally with `yarn global add majestic@alpha` or `npm install majestic@alpha -g`
- Go to a directory with Jes

[2018-06-12 06:20] hoschi commented on #44
I would like to, but the port 7777 is already in use. Can you make it configurable? Environment variable would be enough for the alpha, I think.

[2018-06-12 22:59] Raathigesh commented on #44
Could you please try installing again. Released a new build yesterday in which a free port is used to start the server.

[2018-06-13 00:18] Raathigesh commented on #46
Hey Guys,

Sorry, I did not investigate this issue further on the current version because been working on a majestic rewrite. It will be distributed as an npm module.

If you like to help test the early build of the new majestic, please follow the steps.

- Install majestic globally with `yarn global add majestic@alpha` or `npm install majestic@alpha -g`
- Go to a directory with Jest configured an

[2018-06-13 07:36] hoschi commented on #44
latest version gives me this error straight after starting:

[code]

[2018-06-13 23:43] Raathigesh commented on #44
That is something new. I guess I have to setup a VM to re-produce this.

[2018-06-14 01:19] Raathigesh commented on #44
I can reproduce the issue.  Will have a look at it soon.

[2018-07-05 20:41] daedalus28 commented on #50
This sounds great - decoupling from electron would allow majestic to run in places where you don't actually have a desktop development environment (like in Cloud9 or other cloud IDEs)

[2018-07-16 15:04] Neglexis opened #51 "[BUG] AssertionError"
This is a :bug:

## Version Info

- Version of Majestic: 0.2.0
- Version of Jest: 22.2.1
- Version of Node: v8.11.2
- Operating System: OS X

[code]

[2018-07-16 15:15] Neglexis commented on #51
Also tried this on the new alpha build, no success there either

[code]

[2018-07-19 23:27] Raathigesh commented on #51
Hey @Neglexis,

I published a new version of the new alpha build. Could you please try again and let me know if you run into any issues again?

[2018-07-19 23:28] Raathigesh commented on #44
Published a new version which should fix this. Could you please give it a try again.

[2018-07-20 08:10] Neglexis commented on #51
@Raathigesh Appears to work, awesome! Looking good as well!

[2018-07-20 09:26] Raathigesh commented on #51
Please feel free to report anything that needs to be looked into.

[2018-09-04 06:28] lukebatchelor opened #52 "Error opening debugger (alpha client)"
## Is this a bug report or a feature request?

Bug

## Version Info

- Version of Majestic: 1.0.0.alpha
- Version of Jest: 0.20.4
- Version of Node: 8.9.0
- Operating System: MacOSX Sierra

## Reproduction Repo

Tried running this in the [bolt repo](https://github.com/boltpkg/bolt). When selecting a test file and hitting debug I get this message in my console

[code]

When I hit it a second time,

[2018-09-04 11:52] Raathigesh commented on #52
We should try to find a free port and use it to open the debugger to be safe I guess

[2018-09-05 10:26] Raathigesh commented on #46
Hey @cipriancaba, would you please be able to let me know where you have the jest config? if you could create a repo where the issue is reproducible, that would be super helpful 👍

[2018-09-05 10:27] cipriancaba commented on #46
It’s just a simple create-react-app
On Wed, Sep 5, 2018 at 11:26 Raathigeshan Kugarajan <
notifications@github.com> wrote:

[2018-09-05 10:28] cipriancaba commented on #46
Also, the left bar appears for a fraction second and then disappears
immediately.. will try to provide the repo, thank you
On Wed, Sep 5, 2018 at 11:27 Ciprian Caba <cipri@cipriancaba.com> wrote:

[2018-09-05 10:36] Raathigesh commented on #46
@cipriancaba if it's create-react-app, then no need of a repo. I can take a look at it. You can press Ctrl +B or Cmd +B to bring the sidebar back. This should be documented and I'm working on finishing the website and docs.

[2018-09-05 10:39] Raathigesh commented on #50
We are almost there. Take a look at the readme for instruction on how to use the alpha rewrite.

[2018-09-05 10:39] #50 closed

[2018-09-05 10:43] Raathigesh commented on #16
Hey guys,

If you would like to give majestic a try again, please take a look at the [Readme](https://github.com/Raathigesh/majestic).  Now majestic is shipped as an npm module.

@gautamarora Sorry, just now I noticed your question. Apologies.

[2018-09-05 16:30] cipriancaba commented on #46
@Raathigesh Cmd+B did the trick.. I think there might be a need for UI element to trigger the tree.. Also if the tree is not present and you run the tests, the screen stays empty, which maybe is a bit counter-intuitive.. Other than that, great work 👍

[2018-09-06 16:55] hoschi commented on #44
Sorry, totally missed that :(

With `85cf0d3` I get the following error for `cd app && yarn install && yarn start`:
[code]

Just installing it in an existing repo and running it gives me:
[code]

[2018-09-06 22:48] Raathigesh commented on #44
I think you are still running an older version (`Majestic v1.0.6`). The latest is `v1.1.0`. Would you be able to install again with `npm install majestic@alpha -g` or `yarn global add majestic@alpha` ?

[2018-09-06 22:48] Raathigesh commented on #44
I'll take a look at not being able to build from source.

[2018-09-06 22:54] Raathigesh commented on #5
Hey @eliw00d,

You could try the rewrite of majestic, if you like. [It''s now shipped as an npm module with a bunch of improvements.](https://github.com/Raathigesh/majestic)

[2018-09-06 22:56] Raathigesh commented on #46
This is fixed in v1.1.0. Feel free to open issues if you feel like there are potential improvements or features that would make a difference to your testing workflow 👍 Closing this for now.

[2018-09-06 22:56] #46 closed

[2018-09-07 07:34] #51 closed

[2018-09-07 07:36] Raathigesh commented on #45
Hi @wonskarol,

I removed the VS Code integration with the rewrite because its easy to setup a task in vs code to debug the current selected test file and it doesn't make much sense to do it through majestic. But i'm thinking of providing a https://github.com/GoogleChromeLabs/ndb integration so people who don't use vs code can use it. Let me know if you have any thoughts on this.

[2018-09-07 07:38] Raathigesh commented on #2
It's been a while 😅 but if you are still keen, the new shiny rewrite is available as an npm module. More info on readme -> https://github.com/Raathigesh/majestic/blob/next/README.md

[2018-09-07 07:45] Raathigesh commented on #33
Dropped electron 😅

[2018-09-07 07:45] #33 closed

[2018-09-07 07:46] Raathigesh commented on #39
Hi Everyone,

Majestic now ships as a npm module so it should work in linux without any additional effort. If someone could test it and see how it goes, it would be lovely. The instruction is on Readme.

[2018-09-07 07:47] #24 closed

[2018-09-07 07:49] Raathigesh commented on #41
@danielbrodin If you are keen, you could try the new alpha release of majestic rewrite. It suppose to be a lot better experience that before.

[2018-09-07 07:51] Raathigesh commented on #23
The rewrite would allow additional config options to be passed to jest if required. But it should be documented though!

[2018-09-07 07:51] #23 closed

[2018-09-07 09:05] cchabanois-sfdc commented on #43
I have a similar issue. I don't use jest directly but a wrapper that then run "node  [...] jest [...]"
jestwrapper [wrapper options] -- [additional jest options]

I could make it work with majestic (the new alpha version) :
{
  "majestic": {
    "jestScript": "~/pathto/jest-wrapper -- "
  }
}
but I cannot debug tests : it debugs the jest-wrapper instead.
This is because I am supposed to use "jest-

[2018-09-07 09:17] cchabanois-sfdc opened #53 "Issue when several tests with same name in the same file."
## Is this a bug report or a feature request?
Bug 🐛.

## Version Info
- Version of Majestic: 1.1.0

## Reproduction Repo
[code]
![image](https://user-images.githubusercontent.com/36440483/45210341-984c3a00-b28f-11e8-9c11-2642844e107f.png)

Looks like second 'child1' test never end (which is not the case) ...

[2018-09-08 00:31] guyellis commented on #39
@Raathigesh - just tested this on Ubuntu - works well - thanks! Closing.

[2018-09-08 00:31] #39 closed

[2018-09-09 09:40] hoschi commented on #44
Version `v1.1.0` starts now with no issues :100: :+1:

[2018-09-09 09:48] hoschi opened #54 "Watch mode not working"
## Is this a bug report or a feature request?

Please specify whether this is a feature request 🎁 or a bug 🐛: bug

## Version Info

- Version of Majestic: 1.1.0
- Version of Jest: 23.5.0
- Version of Node: 8.9.1
- Operating System: linux

## Reproduction Repo

https://github.com/hoschi/yode

* Go to core packages: `cd packages/core`
* Run `majestic`
* Change a assertion in a editor, eg. line 22 `e

[2018-09-09 09:50] hoschi opened #55 "--app flag doesn't start a chrome window"
## Is this a bug report or a feature request?

Please specify whether this is a feature request 🎁 or a bug 🐛: bug

## Version Info

- Version of Majestic: 1.1.0
- Version of Jest: 23.5.0
- Version of Node: 8.9.1
- Operating System: linux

## Reproduction Repo

https://github.com/hoschi/yode

* Go to core packages: `cd packages/core`
* Run `majestic --app`

Expected: Chrome starts in app mode showi

[2018-09-09 10:59] Raathigesh commented on #55
Do you have chrome installed?

[2018-09-09 11:02] Raathigesh commented on #53
This is a known defect but thank you for reporting. We rely on the specific test names to apply the test results but we should do something smart to figure out when there are many with the same name.

[2018-09-09 11:04] Raathigesh commented on #43
I see the issue here. Probably there should be a way to control the debug script as well.

[2018-09-09 11:05] Raathigesh commented on #42
Hey @cuchi, The new alpha release support linux as well since we ship as an npm module. Keep to give it a try again?

[2018-09-10 07:26] hoschi commented on #44
Sorry wasn't clear enough. The installed version runs now, but still have problems with building it. @Raathigesh can you look into this?

[2018-09-10 10:00] Raathigesh commented on #44
I'll take a look 👍

[2018-09-11 02:56] cuchi commented on #42
Just tested it.
It is working seamlessly now!

Thanks!

[2018-09-11 02:56] #42 closed

[2019-01-15 18:15] rythos42 opened #58 "Test failure context lines of code"
## Is this a bug report or a feature request?
Feature request

## Version Info

- Version of Majestic: alpha
- Version of Jest: 2.1.1
- Version of Node: 11.4
- Operating System: Windows 10

## Reproduction Repo

Jest reports a bit of context for the test failure which I find very helpful, whereas Majestic only reports the stack trace. Wondering if the lines highlighted in yellow in my picture belo

[2019-01-15 19:26] rythos42 opened #59 "describe('name') not prepended on test name in Majestic test report"
## Is this a bug report or a feature request?

Feature request

## Version Info

- Version of Majestic: alpha
- Version of Jest: 2.1.1
- Version of Node: 11.4
- Operating System: Windows 10

## Reproduction Repo
We use jest describe to group our tests, but this information doesn't appear to be captured in the Majestic test reporter. It has the test name, but isn't prepending the describe name.

![

[2019-01-15 23:32] rythos42 opened #60 "Re-order of file search results"
## Is this a bug report or a feature request?

Feature request

## Version Info

- Version of Majestic: alpha
- Version of Jest: 2.1.1
- Version of Node: 11.4
- Operating System: Windows 10

## Reproduction Repo

Using the file search, I think it would make more sense to have the file with a name matching the search be at the top. I assume the other search results are files containing what I typed

[2019-01-22 09:08] alxshell opened #61 "grouping tests via describe"
## Is this a bug report or a feature request?

feature request

## Version Info

Version of Majestic: alpha
Version of Jest: 22.2.1
Version of Node: 11.2
Operating System: mac OS X Mojave

## Feature Description

In jest you can group tests together using a describe block. It would be very handy and useful to represent this in majestic in the same way. Also it should be possible to run all the tes

[2019-01-22 09:22] alxshell opened #62 "complete overview is being rerendered by running one single test"
## Is this a bug report or a feature request?

bug

## Version Info

- Version of Majestic: alpha
- Version of Jest: 22.2.1
- Version of Node: 11.2
- Operating System: mac OS X Mojave

## Bug description

After a "run files"-test with multiple tests, successful tests become green and unsuccessful tests are becoming red.
If you rerun a "red" test for example, the complete view is being rerendered i

[2019-01-29 20:40] erikleo opened #63 "Unable to use custom parameters"
We have a requirement to run our jest tests synchronously which requires the jest flag '-i'.  I tried using the runScripts attribute by adding this to package.json:

`
"majestic": {
    "runScript": "jest -i"
}
`

But after I do this and run majestic, two things happen.
1. my tests are no longer visible in pane in the left-hand side.
2. after clicking the run button, I get the error:
**Error: Cann

[2019-02-08 03:35] AwadMaharoof opened #64 "Node version >10 compatibility"
## Is this a bug report or a feature request?

Please specify whether this is a feature request 🎁 or a bug 🐛.: Bug

## Version Info

- Version of Majestic: 1.1.0
- Version of Jest: 22.2.2.
- Version of Node: 10.14.1
- Operating System: Windows

I am attempting to get the project running locally but when I attempted to install the yarn packages it fails with an error because the upath package is in

[2019-03-20 22:37] Raathigesh commented on #61
Hey,

I rewrote Majestic from scratch and it's now supports grouping by describe. Would you be able to give it a try? instructions are here: https://github.com/Raathigesh/majestic/tree/v2

[2019-03-21 08:29] alxshell commented on #61
Thx @Raathigesh that sounds really great. I'm afraid I am not working on that corresponding project anymore but I have informed my successors about the good news.

[2019-03-21 13:25] Raathigesh commented on #59
Hey,

We rewrote Majestic from scratch and it's now supports grouping by describe. Would you be able to give it a try? instructions are here: https://github.com/Raathigesh/majestic/tree/v2

[2019-03-21 13:25] Raathigesh commented on #61
Great. Thanks.

[2019-03-21 13:26] Raathigesh commented on #62
This is fixed with the rewrite. https://github.com/Raathigesh/majestic/tree/v2

[2019-03-21 13:26] #62 closed

[2019-03-22 08:34] nicostorl commented on #61
Hi @Raathigesh,

@alxshell 's successor here 👋

Thank you for taking action here.

What we thought would be really handy is a "Run"-button for each level:
✔️ run on file-level: runs all tests in the file
❌ run on describe-level: runs all tests within the describe
❌ run on it/test-level: runs a single test

This helps if you are running long lasting tests, made a change and just want to rerun a sin

[2019-03-22 10:39] Raathigesh commented on #61
Hi @nicostorl 👋 ,

The main reason for removing the button from each level is to make things simple but if it adds value we could add it as an enhancement.

Also, you could always add `it.only()` or [describe.only()](https://jestjs.io/docs/en/api#describeonlyname-fn) to the test/describe you want to run and jest will run only that even if you run the entire file. That would not work for you as an

[2019-03-22 10:58] nicostorl commented on #61
Hi @Raathigesh,

that's a good point 😃 I guess this will make my developing-life easier as-well.

If there are some non-developers that want to rerun just a subset of all tests it might add value but that's currently not the case for us.

[2019-03-22 11:21] Raathigesh commented on #61
Hi,

I agree it could be useful to be able to run a single it or describe and I'll keep that in mind for future  :)

I'll close this issue for now but feel free to open issues if you feel like things could be improved.

[2019-03-22 11:21] #61 closed

[2019-03-22 12:43] #2 closed

[2019-03-22 12:44] #5 closed

[2019-03-22 12:45] Raathigesh commented on #16
This should be fixed now with the rewrite so closing it for now.

[2019-03-22 12:45] #16 closed

[2019-03-22 12:47] Raathigesh commented on #28
Would you be able to give it a try now? If you run into issues, please reach out via https://spectrum.chat/majestic

Closing this for now. Feel free to reopen.

[2019-03-22 12:47] #28 closed

[2019-03-22 12:48] Raathigesh commented on #53
This is fixed and now the UI shows full hierarchy.

[2019-03-22 12:48] #53 closed

[2019-03-22 12:49] Raathigesh commented on #59
Closing this since this is fixed now. Feel free to reopen.

[2019-03-22 12:49] #59 closed

[2019-03-22 12:54] Raathigesh commented on #63
This is properly addressed now with the rewrite.  The config would look like this

[code]

More detail here https://github.com/Raathigesh/majestic#optional-configuration

[2019-03-22 12:58] Haroenv commented on #16
Works as the nom module now 🚀

[2019-03-22 13:00] Raathigesh commented on #45
VSCode integration is something I decided to remove with the rewrite so we could focus on the core feature first. Closing this for now.

[2019-03-22 13:00] #45 closed

[2019-03-22 13:01] Raathigesh commented on #43
More info here https://github.com/Raathigesh/majestic#optional-configuration

[2019-03-22 13:01] #43 closed

[2019-03-22 13:02] Raathigesh commented on #44
This all should be fixed after the recent rewrite. Closing this now.

[2019-03-22 13:02] #44 closed

[2019-03-22 13:02] #41 closed

[2019-03-22 13:04] Raathigesh commented on #52
Hey Luke,

With the recent rewrite, I decided to remove the debugger to keep the scope manageable. Sorry about that.

[2019-03-22 13:04] #52 closed

[2019-03-22 13:05] Raathigesh commented on #54
Should be ok with the new release. Have a look again, please. Thanks.

[2019-03-22 13:06] Raathigesh commented on #17
This is addressed with the rewrite. https://github.com/Raathigesh/majestic#optional-configuration

[2019-03-22 13:06] #17 closed

[2019-03-22 13:07] Raathigesh commented on #64
Thanks for the report. After the rewrite, the engine field is no longer there in package.json so should be fine now.

[2019-03-22 13:07] #64 closed

[2019-03-22 13:09] Raathigesh commented on #58
Unfortunately, the jest reporter doesn't send the code frame info. This needs a bit of investigation. I'll have a look

[2019-03-22 13:11] Raathigesh commented on #12
After so long, finally managed to get the rewrite almost done along with cypress integration tests. Unit tests are still lacking and should be added though :)

Closing this for now.

[2019-03-22 13:11] #12 closed

[2019-03-22 21:59] nfarina commented on #43
Hey nice! Wow, Majestic is looking really slick now. I love that using it is as easy as `npx majestic` and no setup is needed. Going to make this a regular part of my workflow!

[2019-03-22 23:43] Raathigesh commented on #16
That is very nice to hear 👍

[2019-03-22 23:45] Raathigesh commented on #43
Thanks @nfarina. I agree this is a much better experience. Please feel free to raise any improvements Majestic could do to make the testing experience better either via github issues or via https://spectrum.chat/majestic

[2019-03-23 08:37] hoschi commented on #54
This still exists with the current version :disappointed:

[2019-03-23 08:37] hoschi commented on #44
Fixed!

[2019-03-26 07:51] sabrehagen opened #65 "Connect over wss when loaded over https"
When loading majestic over an `https` connection, the client [attempts to connect](https://github.com/Raathigesh/majestic/blob/1cb3db67a2b32e683be16e01982467c3657ab9ab/ui/apollo-client.ts#L11) over `ws` not `wss`.

![74f76c73-3781-4cd6-b0d2-903cc6db78c2](https://user-images.githubusercontent.com/1094600/54979699-ed675780-4ff7-11e9-9198-2146c622f89a.png)

It seems the apollo http link will require

[2019-03-26 08:14] Raathigesh commented on #65
Curious to know the use case behind using over an `https` connection?

[2019-03-26 08:15] #63 closed

[2019-03-26 08:17] Raathigesh commented on #54
Could you please try again with the latest majestic. In your sample repository, one of the tests takes a while to execute after a change but it did execute.

[2019-03-26 08:18] Raathigesh commented on #3
This is fixed in the latest version.

[2019-03-26 08:18] #3 closed

[2019-03-27 02:15] ericclemmons opened #67 "Syntax errors aren't reported"
## Is this a bug report or a feature request?

Bug

## Version Info

- Version of Majestic: v1.2.20
- Version of Jest: 24.5.0
- Version of Node: v10.13.0
- Operating System: macOS

## Reproduction Repo

I was attempting to make a sandbox, but `npx majestic` automatically opens a window, which doesn't work in that environment.

I'd recommend `npx majestic --open` for launching a window (print the s

[2019-03-27 02:42] Raathigesh commented on #67
I think it makes sense to open by default (or maybe this could be just my personal preference) so I'll go with a `--no-open` flag to prevent it for now.

Oh, I see, I totally ignored the top-level errors. I'll get that fixed.

[2019-03-27 10:52] Raathigesh commented on #67
Added a `--noOpen` flag to prevent automatically opening the URL and also now the UI shows failure messages.

![image](https://user-images.githubusercontent.com/3108160/55070315-1829dc80-50da-11e9-9983-c69f59f7b35e.png)

Released so an `npx majestic` should do it.

Closing it for now.

[2019-03-27 10:52] #67 closed

[2019-03-27 10:53] Raathigesh commented on #60
The rewrite should show the correct order. Please have a look. If not, feel free to reopen.

[2019-03-27 10:53] #60 closed

[2019-03-27 10:53] Raathigesh commented on #55
Is it still the same with the new version of majestic ?

[2019-03-27 13:37] mcastre opened #70 "Question: Is There A Way to Update All Snapshots Within A Project?"
Hello! Not an issue per say, but a question. I just pulled down the project and i noticed there was a button to update the snapshot of an individual file. I was wondering if there was a way to update all snapshots from within the project? I know jest has a cmd to update all snaps, but I think it would be dope if Majestic had an update all button or something, if it doesnt already.

I love the soft

[2019-03-27 14:00] mcastre commented on #54
I am also experiencing this issue. I toggled the Watch mode and if i make changes to a file, nothing happens. I have to click on the Run button for an individual test in order to see the changes

Majestic version: 1.2.22
Jest version: 23.6.0
OS: MacOS

[2019-03-27 14:22] M4cs opened #71 "[Bug] Output View Doesn't Scroll"
## Is this a bug report or a feature request?

Please specify whether this is a feature request or a bug.

## Version Info

- Version of Majestic: 1.2.20
- Version of Jest: 20.0.3
- Version of Node: 8.15.1
- Operating System: 10.14 MacOS Mojave

## Reproduction Repo

Run majestic and run your tests. Once run if you have multiple outputs from a test you cannot scroll down to read them completely. C

[2019-03-27 14:37] culshaw opened #72 "Feature request: Coverage integration"
Great project

It would be amazing to integrate this with the output of Istanbul to determine coverage too!

[2019-03-27 17:45] yurm04 opened #73 "Long file names break styling and overlap with other file items"
## Is this a bug report or a feature request?
Bug

If the sidebar is not wide enough to fit the file structure horizontally, longer file names break the styling and overlap with other file items above/below.

<img width="147" alt="broken-file-item" src="https://user-images.githubusercontent.com/4642404/55099524-3d94f700-5096-11e9-897b-f9927f769eff.png">

## Version Info

- Version of Majestic:  `v

[2019-03-27 17:55] yurm04 commented on #73
I opened PR https://github.com/Raathigesh/majestic/pull/75 to address this issue by following the VSCode convention of obscuring the longer filenames with ellipsis (`...`)

[2019-03-27 20:15] gavinhenderson opened #76 "`opn` is not webpack friendly"
## Is this a bug report or a feature request?

This is a bug report

## Version Info

- Version of Majestic: 1.2.22
- Version of Jest: 24.1
- Version of Node: 11.12
- Operating System: Ubuntu 18.10

## Reproduction Repo

If you are not on `darwin` or `win32` then opn runs the following line https://github.com/sindresorhus/open/blob/master/index.js#L72

The indicated line is not webpack friendly an

[2019-03-27 23:39] Raathigesh commented on #76
If we not bundle `opn` by marking it as [external](https://github.com/Raathigesh/majestic/blob/master/scripts/webpack.server.config.js#L52), would it fix the issue?

[2019-03-28 00:34] gavinhenderson commented on #76
@Raathigesh I didn't know about webpack externals until right now. Yeah that would solve the problem! As well as having it as an external it needs to be moved to `dependencies` rather than `devDependencies` right?

Want me to submit the PR or is it easier for you to fix it?

[2019-03-28 00:53] Raathigesh commented on #76
Yes we have to move it to `dependencies` and I just noticed that `opn` is deprecated and the same package is available as [open](https://yarnpkg.com/en/package/open) so probably we should use that.

If you could create a PR, that would be appericiated since you can test it in Ubuntu after the fix.

[2019-03-28 01:22] Raathigesh commented on #73
Thank you for the PR. Appreciate it.

[2019-03-28 01:22] #73 closed

[2019-03-28 01:24] Raathigesh commented on #72
Hey, We could easily show the overall code coverage in the sidebar. Are you interested in coverage for each file or overall ?

[2019-03-28 01:26] Raathigesh commented on #54
I also felt that the `Toggle watch mode` button is confusing. It doesn't actually run the tests but passes the `--watch` flag whenever you run all the tests or a single file. We should rethink the UI of that button to make it clear.

[2019-03-28 01:45] mcastre commented on #54
So if the --watch flag has been passed down, and you run subsequent tests, wouldn't it still watch for those new changes? What was the challenge of trying to implement and watch mode that works similarily to jest's watch mode?

[2019-03-28 02:35] Raathigesh commented on #54
We use Jest watch mode as is and this is how the UI works with watch mode:

- First, toggle the watch mode button on
- Now if you run all the tests by clicking the `Run all` button,
    - All the files would be watched which is the equivalent of running `jest --watch`
- But if you click on the `Run` button of a single test file,
    - Only the selected file would be watched which is equals to runn

[2019-03-28 02:36] Raathigesh commented on #70
We should add this as a feature. Currently, there is no way to update all snapshots.

Thank you!

[2019-03-28 02:37] Raathigesh commented on #71
Could you please attach a screenshot? Also please give it a shot with the latest version. Yesterday we did fix an overflow issue.

[2019-03-28 03:01] mcastre commented on #54
Ah ok, now its working as expected. Nice! I think the UX works as is, just needs some documentation on how to enable it correctly.

[2019-03-28 11:40] #76 closed

[2019-03-28 13:52] M4cs commented on #71
1.2.24 Seemed to Fix the issue. Good work 👍

[2019-03-28 13:53] #71 closed

[2019-03-28 13:54] M4cs commented on #70
You can add the `-u` flag to your optional Majestic config args. That's how I did it.

[2019-03-28 16:10] FDiskas opened #83 "vscode configs should be ignored"
https://github.com/Raathigesh/majestic/blob/4a38e7f89d91f10538ba0e772781b6d4e8c7faad/.vscode/launch.json#L16

[2019-03-28 16:14] M4cs opened #84 "[Bug] Open in Editor returns ENOENT"
## Is this a bug report or a feature request?

🐛 Bug Report

## Version Info

- Version of Majestic: 1.2.24
- Version of Jest: 20.0.3
- Version of Node: 8.15.1
- Operating System: 10.14 MacOS Mojave

## Reproduction Repo

Due to this being used in a professional atmosphere I cannot provide the repository that I'm using this with.

To Reproduce:

- Press the Open In Editor Button
- Spawning an Edit

[2019-03-28 16:16] M4cs commented on #70
For now you can add the `-u` flag to the majestic config in your package.json.

[2019-03-28 18:06] nshaikhinurov opened #85 "[Question] What do purple colored icons mean?"
Couldn't figure out what does the purple color of describe blocks (box) and test (lightning) icons mean. I suppose purple is for tests that have not completed yet.

Also looks like there is a bug/unsupported behaviour. I'm using decorators with Babel and reflect-metadata. Majestick couldn't manage to render correct filename and shows 12 passing tests on header and irreevant body with results from

[2019-03-28 18:20] M4cs commented on #85
I believe it means the successful results have been viewed by you and it is just confirming that they are still passing and the same test names.

[2019-03-28 18:27] pjnovas commented on #72
first of all ... thanks for this tool!

So, what I normally do is I work with test watcher doing TDD and when I finish the feature I check the total coverage, if is not at what I expect I then check which are the files low.
I think a full overage would be good and then an specific one to identify which is the one that needs attention.

[2019-03-28 18:37] rkulla commented on #72
I like the idea of how `jest --coverage` works now where it's a summary at the bottom, but then you can open the full coverage report to get more info. Heck, i'd even be happy if this just linked or embedded  coverage/lcov-report/index.html

[2019-03-29 08:07] Raathigesh commented on #83
Removed the path but we need to keep the launch.json since it will make debugging easier.

[2019-03-29 08:07] #83 closed

[2019-03-29 08:11] Raathigesh commented on #85
Purple means the default state, which is Majestic couldn't find a result to that test. This looks like a bug. Decorators or babel or reflect-metadata shouldn't affect how majestic shows the results since we didn't do anything in particular than just invoke jest.

It would greatly help if you could put together a small repo where this issue is reproducible.

[2019-03-29 09:53] Deraw- opened #87 "Customize run command"
# Feature Request

Hi! I've discovered this project and I love it, thank you for making it!

I was wondering if it's possible to specify a command to execute, or to make it work with vue-cli
I'm using the command `vue-cli-service test:unit`, and my tests are passing, but with the GUI I suppose it runs Jest directly so it fails with:
[code]

Thanks!

[2019-03-29 10:22] Raathigesh commented on #84
We use https://github.com/yyx990803/launch-editor to launch the editor. Could you try setting the `EDITOR` environment variable so the package would use that to launch the editor?

[2019-03-29 10:24] Raathigesh commented on #72
We could easily show the coverage summary on the sidebar and probably will start there and enhance further.

[2019-03-29 10:38] ChrstnDmbchr opened #88 "Unable to run tests - Cannot find module"
Hi, I am currently having an issue trying to use your tool in a windows environment. The application loads fine and I can see the full test file tree however when trying to run any test I get the following error:

![image](https://user-images.githubusercontent.com/26926783/55226958-25e07e80-520e-11e9-96b2-c005a573debd.png)

The package has been installed globally on my machine. Issue appears to be

[2019-03-29 10:54] Raathigesh commented on #87
Hey 👋 ,

I'm glad that you like the project.

Could you please add the following configuration to `package.json` and check?

[code]

[2019-03-29 10:57] Raathigesh commented on #88
Hi 👋

Could you please run majestic with the `--debug` flag so we could see where this is failing exactly?

[2019-03-29 11:04] ChrstnDmbchr commented on #88
👋

Attached is where it fails.

![image](https://user-images.githubusercontent.com/26926783/55228492-211dc980-5212-11e9-9f55-2faaa66e3628.png)

[2019-03-29 11:19] Deraw- commented on #87
Thanks for your quick reply!

(I've had to replace `\\` with `/`)
It's using vu-cli-service now, but it seems it's without the config for jest (defined in the `package.json`)

If I run `./node_modules/@vue/cli-service/bin/vue-cli-service.js test:unit` in the terminal the tests passes
But in the GUI it says `Jest encountered an unexpected token`

(also I'm using TypeScript)

[2019-03-29 11:31] Raathigesh commented on #87
I created a new project via the Vue CLI with Jest (Config in package.json) + typescript and I can run the project. So I'm not sure why your one is not working. If you could share a small repo with the issue, I can take a look into it.

![image](https://user-images.githubusercontent.com/3108160/55229891-52c67d00-5272-11e9-8679-ee0fa6cf393c.png)

[2019-03-29 11:41] Deraw- commented on #87
You're right I've tried with another similar project and it worked like a charm!
I'll try to see what's causing the error in the first project

[2019-03-29 12:54] M4cs commented on #84
It does try to open VSCode by default in the query. I can try to force set the env. Does "code" still work on macOS?

[2019-03-29 16:51] Deraw- commented on #87
I haven't touched anything, but now it works!
Thank you :smile:

[2019-03-29 18:02] cbranch101 opened #89 "CRA Absolute imports not working correctly"
In a repo with absolute imports enabled by adding

`NODE_PATH=src/` to a `.env` file

majestic is unable to find any absolutely imported modules

## Version Info

- Version of Majestic: 1.2.23
- Version of Jest: 24.1.0
- Version of Node: 8.15.1
- Operating System: OSX

## Reproduction Repo

If this is a bug report, please provide a minimal github repository where this mentioned issue is reproducib

[2019-03-29 18:06] cbranch101 commented on #89
Also, my debug output

[code]

[2019-03-29 18:12] cbranch101 commented on #89
Nevermind, I just needed to add the correct env configuration to the package.json

[code]

[2019-03-29 18:34] briwa commented on #88
@ChrstnDmbchr Hey, I have a slightly similar issue, but not sure if this applies to yours. Can you try rename your folder `C:\Users\Christian Dambacher` to something that doesn't contain spaces? I assume the space was the culprit.

[2019-03-29 19:11] blackjackkent commented on #72
I would like to second this request. I'm really loving this tool so far but being able to integrate my coverage info as well would be very helpful. Specifically, I'd agree with @rkulla 's suggestion about linking to the output report. (Would also be nice if you could specify different jest configs when starting majestic; I use one for just testing and then one for testing with coverage.)

[2019-03-30 10:41] #88 closed

[2019-03-30 14:11] wsrast commented on #72
I'll throw my hat into the ring for the `jest --coverage` behavior. That's the only thing that's keeping me from ditching the command line jest interface for this. Really great job on this, guys!

[2019-03-30 15:33] lkostrowski opened #92 "Feature request: Syntax highlighter for snapshots?"
## Feature request

Hi

Do you think it's possible to make snapshots display highlighted? It could be much more readble during comparison

[2019-03-31 09:06] Raathigesh commented on #92
The syntax is highlighted by default by passing[ --colors ](https://jestjs.io/docs/en/cli#colors) flag to Jest and then converting the output through https://www.npmjs.com/package/ansi-to-html but I have seen some instances where they are not highlighted.

Could you please let me know which version of Jest you are using and also would you be able to share a screenshot?

If you share a sample repo

[2019-03-31 09:09] Raathigesh commented on #84
`code` is hardcoded and it should work in mac if you set the `EDITOR` env variable in your terminal (not in majestic config).

But we should have the editor configuration rather than hardcoded.

[2019-03-31 09:11] Raathigesh commented on #55
Majestic uses chrome launcher (https://www.npmjs.com/package/chrome-launcher) to launch.  Please try the new version of Majestic and reopen if this is still a problem.

[2019-03-31 09:11] #55 closed

[2019-03-31 11:45] lkostrowski commented on #92
Hmmm not sure if we are on the same page, let me clarify

I am using create-react-app with typescript. It currently is `23.6.0` but it doesn't matter.
When I run default test run, it *is* colored, but not *syntax highligted*, and AFAIK this is what `--colors` stands for (red / green diffs).

Screen:

![Image 2019-03-31 at 1 35 25 PM](https://user-images.githubusercontent.com/9268745/55288600-1867f

[2019-03-31 16:14] agustif opened #95 "Feature request: Parsing test.todo()"
Since Jest implemented .todo it would be nice to show one's todo's in majestic.

https://jestjs.io/docs/en/api#testtodoname

On the UI part
maybe showing it in a new Todos view after Tests, or maybe integrate it and display a different icon for todo tasks as unimplemented tests that are skipped.

Just an idea anyway, loving the project and great naming which helps remember to use it!

[2019-04-01 06:04] iGitScor opened #96 "Cannot find module './test.js' from 'index.js'"
Hi,

## Is this a bug report or a feature request?

Report a bug

## Version Info

- Version of Majestic: 1.2.23
- Version of Jest: v22.4.3
- Version of Node: 10.14.1
- Operating System: macOS Mojave _Version 10.14 (18A391)_

## Reproduction Repo

In package.json, I have specific jest configuration
[code]

There are failing tests (not failing by launching jest directly)

[code]

When I launch the

[2019-04-01 08:09] ChrstnDmbchr commented on #88
@briwa this does not fix my issue. I have made the same changes in my local repo that you have made as part of your PR however this did not work. I cannot change the folder name as this is my user profiles folder.

[2019-04-01 08:24] briwa commented on #88
@ChrstnDmbchr Yeah, then my guess is that it is a separate issue, more Windows-related. You can reopen this perhaps.

[2019-04-01 09:21] Raathigesh commented on #95
That's indeed a nice to have. Will add it to the roadmap.

[2019-04-01 10:06] culshaw commented on #95
Yep, this + the coverage is the only things stopping me ditching command line.

Great work!!!

[2019-04-01 11:00] culshaw opened #98 "Feature request: When app crashes in background should be notifying the UI"
## Is this a bug report or a feature request?

Please specify whether this is a feature request or a bug.

## Version Info

- Version of Majestic: 1.2.23
- Version of Jest: 24.1.0
- Version of Node: 10.15.0
- Operating System: OSX 10.14.3 (mojave)

When the app crashes (periodically through patch.js or something similar), you see that theres a `fetch` error repeating. This should notify the UI on

[2019-04-01 13:57] agustif commented on #95
I would love to help implement it if you think it can be easily done without much work needed to coordinate with the rest of the codebase. (So it makes sense for an external contributor to chime in without being a disturbance or making a mess out of a PR

Or maybe i can just propose a couple UI options for it if you would prefer, and leave the code implementation to you.

[2019-04-01 21:53] etiennejcharles commented on #98
Could you provide more details on how to let's say reproduce a crash ?
I just found out about the project, trying to find ways to collaborate.

[2019-04-02 05:18] lotsabackscatter opened #99 "Majestic fails on Typescript generics"
## Is this a bug report or a feature request?
Bug
Please specify whether this is a feature request or a bug.

## Version Info

- Version of Majestic: 1.2.23
- Version of Jest: 24.5.0
- Version of Node: 8.11.2
- Operating System: Windows

## Reproduction Repo

In progress.. but can be easily reproduced to a single typescript test that contains generics.

This appears to be because Majestic confuses

[2019-04-02 06:59] presidenten opened #100 "[Bug] Ignores moduleNameMapper in .jestrc.json"
## Version Info

- Version of Majestic: 1.2.23
- Version of Jest: 24.1.0
- Version of Rollup: 1.4.0
- Version of Node: 10.15.3
- Operating System: Osx 10.14.3

## Reproduction Repo
https://github.com/presidenten/wdio-video-reporter/

## To reproduce
Clone repo
- yarn install
- yarn test (all tests pass)
- majestic (index.spec.js does not run)
![image](https://user-images.githubusercontent.com/3883

[2019-04-02 09:35] ziofat opened #101 "test file in sidebar is not responsive to others"
## Is this a bug report or a feature request?

Bug

## Version Info

- Version of Majestic:  v1.2.23
- Version of Jest: v23.6.0
- Version of Node: v8.11.2
- Operating System: OSX Mojave 10.14.3

## Reproduction Repo

It seems that the filename list item position is wrong when I test only one file.
![image](https://user-images.githubusercontent.com/8521174/55392266-87d21880-556d-11e9-845f-361d46d12

[2019-04-02 09:47] Raathigesh commented on #95
It would be awesome if you could help out. [The inspector ](https://github.com/Raathigesh/majestic/blob/master/server/services/ast/inspector.ts)is responsible for reading the test spec. Let me know if I could help with anything else.

[2019-04-02 09:48] Raathigesh commented on #96
Would you be able to provide a sample repo where this is reproducible?

[2019-04-02 09:55] Raathigesh commented on #98
@etiennejcharles We could replicate by stopping majestic by pressing `Ctrl + C`  in terminal. After stopping majestic, UI is still open in the browser so when the http calls fail, we should display some indication in the UI.

[2019-04-02 09:56] silverHub opened #102 "Better examples"
## Is this a bug report or a feature request?

feature request (?)
Better examples needed, for me it is not evident how to pass additional arguments to jest in package.json config.
For instance the most basic: how to pass the jest config file.

[code]

## Version Info

- Version of Majestic: 1.2.24
- Version of Jest: 23.6.0
- Version of Node: v8.11.3
- Operating System: Win7

[2019-04-02 10:11] Raathigesh commented on #100
Could you add the following to package.json and check again?

[code]

https://github.com/Raathigesh/majestic#optional-configuration

[2019-04-02 10:24] Raathigesh commented on #99
Thanks for the example repo. We use babel to parse the files and is it a known issue with babel?

https://babeljs.io/en/repl#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=CYUwzgxgTglgRiAFAcgOIgHYlhMACAIQFcBzZAGj0QEo8BeAPjwG8AoVvPGAFxTAAsA9kQA2wPAAcAhmHzd-IPN3DcKVWoxYdOeCIIxhueAGZSA1iACSGZVHp4APNdumIIAIIM2OncZggxdwAuPGQ4ESl-ZG1OAF8AbnYfEAAPCRAIXlMLZ2wAOj8A4HdqPO5BAiQw

[2019-04-02 10:29] Raathigesh commented on #102
Just like you would pass in a terminal but here as comm separated array items.
[code]

[2019-04-02 10:29] #54 closed

[2019-04-02 10:31] Raathigesh commented on #65
Feel free to reopen if this is a blocker but closing this for now.

[2019-04-02 10:32] Raathigesh commented on #92
At least we could highlight based on the `+` and `-`.

[2019-04-02 10:38] Raathigesh commented on #85
Closing this for now. Feel free to reopen with an example repo.

[2019-04-02 10:38] #85 closed

[2019-04-02 11:13] lkostrowski commented on #92
Yes, since `colors` is default in Jest, I think it should be default in Majestic config too. Actually IMO all default configs from jest should be passed

[2019-04-02 13:04] sabrehagen commented on #65
Yes, this is a fundamental blocker.

Are you implying you don't secure your HTTP communications?

[2019-04-02 13:44] silverHub commented on #102
Thanks, that worked. However to nitpick a bit, in the example the syntax is wrong, as we are talking about a json file you need to have string for keys:
"majestic": {
  "args": [...]
}

[2019-04-02 18:53] moos commented on #89
`majestic.env` isn't read if it detects a Create React App.  I used:
[code]

[2019-04-02 19:04] moos opened #103 "CRA failure when using custom react scripts"
## Is this a bug report or a feature request?

Feature/Bug

## Version Info

- Version of Majestic: Majestic v1.2.23
- Version of Jest: 23.6.0
- Version of Node: v8.12.0
- Operating System: macOS 10.13.6

## Reproduction Repo

If one is using [custom-react-scripts](https://github.com/kitze/custom-react-scripts/), or a variation, in a Create React App project, it fails to find the test scripts.

`T

[2019-04-02 20:27] agustif commented on #95
Sure @Raathigesh just can I get some help on the best way to run my own local version of majestic? I don't see nothing on the readme about cloning this repo/compiling/using own compiled version

Thx!

[2019-04-02 22:43] agustif commented on #95
I got stuck at the sidebar/summary, not sure how to create the EVENT of numTodoTests

but looking good so far

<img width="909" alt="Screenshot 2019-04-03 at 00 41 51" src="https://user-images.githubusercontent.com/6601142/55440906-6abb3b00-55a9-11e9-8004-ff50b476bf1f.png">

[2019-04-02 22:59] Raathigesh commented on #95
Hey 👋,

I don't think we want to show todo items on the sidebar.  Just listing them on the selected files would be enough right?

[2019-04-02 23:39] agustif commented on #95
Yeah, probably, but I thought i'd be cool in case one doesn't know where the todo's are, to show total todo's count on the sidebar-summary, and maybe also add a Todo's icon on the sidebar's file which contains them?

![MGroup 2](https://user-images.githubusercontent.com/6601142/55442999-48c5b680-55b1-11e9-91d0-a4eb8e456ae9.png)

[2019-04-02 23:44] Raathigesh commented on #95
Currently, we don't read all the test files upfront instead we just read the currently selected file and parse so it wouldn't be possible to know beforehand which files contain todo items.

It would be nice to show todo items but maybe, for now, we could go with showing for the selected file and now on the sidebar?

Reading all the files, listening to their changes and keeping the files in sync is

[2019-04-03 00:19] Raathigesh commented on #65
Majestic is meant to be used locally in the same way as a local dev server so I'm trying to understand the benefits of having a secure connection.

[2019-04-03 00:20] Raathigesh commented on #102
The readme could be better. Would you like to send a PR to improve it?

[2019-04-03 00:22] Luanf commented on #70
Hey, I would like to have a go a this feature :)

Do you have a general idea as to where the button should be?
At first I thought top of the side bar but I don't think it's a good idea to have that button be very "attractive" to click because a less experienced Jest could update them all without really knowing what that means. So maybe a bit less visible would be best.

Maybe next to the little "R

[2019-04-03 00:24] Raathigesh commented on #89
@moos You are right and should be fixed. Reopening.

[2019-04-03 00:29] agustif commented on #95
Agreed, opened a PR with my progress so far

[2019-04-03 00:29] Raathigesh commented on #103
You could manually specify the jest script for `custom-react-scripts` through the [package.json configuration](https://github.com/Raathigesh/majestic#optional-configuration) and make it work. is that good enough?

[2019-04-03 00:45] Raathigesh commented on #70
Thank you for taking this up.

If we show a confirmation dialog, then I'm comfortable having it next to the 'Run All' button with a descriptive tooltip like "Updates all the snapshots".

Also to show this button, we need to know if any are any snapshot failures so far. We could inspect the [test results as they arrive](https://github.com/Raathigesh/majestic/blob/master/server/services/results.ts#L

[2019-04-03 04:00] lotsabackscatter commented on #99
If I add the @babel/plugin-syntax-typescript, then it seems to work:
https://babeljs.io/en/repl#?babili=false&browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=CYUwzgxgTglgRiAFAcgOIgHYlhMACAIQFcBzZAGj0QEo8BeAPjwG8AoVvPGAFxTAAsA9kQA2wPAAcAhmHzd-IPN3DcKVWoxYdOeCIIxhueAGZSA1iACSGZVCn08AHmu3TEEAEEGbHTuMwQMQ8ALjxkOBEpfmRtTgBfAG52XxAADwkQCF5TCxdsADp_QOAPanzuQQIkcMjo6m046iTGpNYYG2w3RTyoLo8tT

[2019-04-03 04:55] sabrehagen commented on #65
I would never open a service over an unsecured connection. What people do
in development reflects in production, as production is an artefact of
development. Relying on network isolation as a substitute for secure http
connections is a weakness waiting to be exploited.

On Wed, 3 Apr 2019, 11:19 AM Raathi Kugarajan <notifications@github.com
wrote:

[2019-04-03 12:02] Raathigesh commented on #72
Coverage integration is coming along nicely.

![image](https://user-images.githubusercontent.com/3108160/55477280-699b1400-5664-11e9-8419-82dd1bb5d774.png)

[2019-04-03 12:07] Raathigesh commented on #99
Right. I wonder if we could pass additional plugins to https://babeljs.io/docs/en/babel-parser since that's what [we use to parse](https://github.com/Raathigesh/majestic/blob/master/server/services/ast/parser.ts). Will have to look into it.

[2019-04-03 13:21] agustif opened #108 "[Feature] further integrate with VS-Code as an extension using WebView API."
## Feature proposal
I've found out about the current Majestic VS-Code extension (Which I didn't need btw, I could click on the icons to go to tests already (probably because I have code on PATH?)

Anyway, I currently use Test Explorer + Jest Test Explorer, to have a nice UI for my project's jest tests on my IDE (VS-Code).

I would love to ditch it, and use majestic all the time, as @Raathigesh poi

[2019-04-04 00:11] moos commented on #103
That didn't work -- because it's a CRA, it takes a different path in the code and doesn't look at `jestScriptPath`.  But that's a good way to go about it -- I'll submit a PR shortly for review.

[2019-04-04 09:45] #89 closed

[2019-04-04 09:45] #103 closed

[2019-04-04 12:35] #102 closed

[2019-04-04 22:34] micahstubbs opened #113 "onClick Watch, see in terminal TypeError: Cannot read property 'length' of undefined"
onClick Watch, I see in terminal `TypeError: Cannot read property 'length' of undefined`

## Is this a bug report or a feature request?
bug report

## Version Info

- Version of Majestic: `v1.2.23`
- Version of Jest:  `23.6.0`
- Version of Node: `v8.11.3`
- Operating System: `macOs 10.14.4`

## Reproduction Repo

repro repo coming soon 🤞

[code]

[2019-04-04 22:40] Raathigesh commented on #113
Unfortunately, this error alone doesn't explain much. Would you be able to reproduce this in a minimal example, please?

[2019-04-05 10:56] Raathigesh commented on #72
Shipped 1.3 with coverage support. Give it a try! https://github.com/Raathigesh/majestic/releases/tag/v1.3.0

[2019-04-05 11:01] Raathigesh commented on #87
Hey again 👋 ,

From Majestic 1.3 (Which I released just now) onwards the config needs to be as follows.

[code]

Cheers!

[2019-04-05 12:05] Deraw- commented on #87
Hi!

Thank you that's very kind of you!

I also love the coverage integration! :ok_hand:

[2019-04-07 13:05] MacZel opened #114 "Add support for multiple jest runners in one project"
Suppose having different jest configs for unit and e2e tests. Whenever running tests in majestic GUI majestic config in `package.json` has to be changed.
How about switching from:
[code]
to something like this:
[code]

[2019-04-07 13:46] Raathigesh commented on #114
How about having named configs like below

[code]

and then when starting Majestic you could pass a flag like `--config=unit`?

[2019-04-07 14:36] MacZel commented on #114
That's exactly what I meant

[2019-04-07 23:25] Raathigesh commented on #114
Would you be interested in contributing this enhancement? We can do this by updating the [config-resolver](https://github.com/Raathigesh/majestic/blob/master/server/services/config-resolver.ts).

[2019-04-08 08:16] robotanz opened #115 "All tests filtered by 'only failed tests' option"
## Is this a bug report or a feature request?

A bug

## Version Info

- Version of Majestic: 1.3.0

## Reproduction

- Run all tests with some failing tests
- Filter the test tree to display only failing tests
- Fix the code, so the test passes...
- Since all tests are now passing, no test is displayed in the side bar and there's no button to display them again

[2019-04-08 09:10] Raathigesh commented on #115
I bumped into this as well. Will fix it 👍

[2019-04-08 09:16] aantipov opened #116 "Coverage should respect coverageDirectory config option"
## Is this a bug report or a feature request?

A bug report

## Version Info

- Version of Majestic: 1.3.0
- Version of Jest: 24.7.0
- Version of Node: 8.11.3
- Operating System: MacOS 10.14.4

## Reproduction Repo

I installed the new 1.3.0 of majestic.
But running a command `node ./node_modules/.bin/majestic --version` gives
[code]

File `node_modules/majestic/package.json` contains correct vers

[2019-04-08 09:21] aantipov commented on #72
Can't see it in the 1.3.0 :( Looks like dist files were not updated in the 1.3.0 release https://github.com/Raathigesh/majestic/issues/116

[2019-04-08 09:28] MacZel commented on #114
Yup, would love to contribute

[2019-04-08 09:45] Raathigesh commented on #116
The dist files are correct but it's the package.json was required and bundled before the publish task increases the version on the package file.

This is a bug and should be fixed but the dist files are correct and contain the latest version.

[2019-04-08 09:47] Raathigesh commented on #72
You have to toggle the "Collect coverage" button to see the coverage. Dist files are up to date. I replied to the other issue with the reason for the wrong version.

[2019-04-08 09:48] Raathigesh commented on #114
Awesome. Feel free to ping me if you run into any issues. Would be happy to help!

[2019-04-08 10:26] mulholio opened #117 "[Bug] - No test details displayed"
When running Majestic, the list of tests is displayed but their content is blank:

![image](https://user-images.githubusercontent.com/20966690/55717097-7915b680-59f0-11e9-9485-ed6337a86ea3.png)

## Version Info

- Version of Majestic: v1.2.24
- Version of Jest: v24.7.1
- Version of Node: v10.8.0
- Operating System: macOS Mojave 10.14.2

[2019-04-08 10:42] Raathigesh commented on #117
Is this on every file or on this specific file?

[2019-04-08 10:45] mulholio commented on #117
Every file in the project. Does not apply to a new create-react-app on my computer

[2019-04-08 10:53] Raathigesh commented on #117
Would you be able to provide a repo where this is reproducible? Need a bit more information to figure out what's going on.

[2019-04-08 11:16] mulholio commented on #117
This is occurring on a fairly large, private repo so having some trouble reproducing. I've tried a create-react-app to reproduce but to no avail. Do you have any suspicions about what might be causing it to help point me in the right direction?

[2019-04-08 11:24] aantipov commented on #116
Hmm, but I can't see the "Collect coverage" button which should be included in 1.3.0 (according to the picture https://user-images.githubusercontent.com/3108160/55477280-699b1400-5664-11e9-8419-82dd1bb5d774.png)
Strange...

[2019-04-08 11:33] Raathigesh commented on #116
That is strange. Are you using npx?

[2019-04-08 11:36] aantipov commented on #116
I tried out different both options (npm run..., node node_modules/.bin/majestic, npx majestic), nothing works

[2019-04-08 11:38] Raathigesh commented on #117
![image](https://user-images.githubusercontent.com/3108160/55721290-4d252000-5a46-11e9-8d6c-579ee21ed0bf.png)
As soon as you click on a test file, there are few network requests sent. Could you locate the above-mentioned one and verify that you are receiving the names of the test in the response?

The response should be something like where the `name` fields contains the name of the test
![image](

[2019-04-08 11:46] Raathigesh commented on #116
Could you please open `/dist/ui/ui.bundle.js` from the majestic installed location and search for the string `Collect coverage`? If it's there, then we have the correct bundle but something else is wrong. Could be browser cache?

[2019-04-08 12:14] aantipov commented on #116
The string is there. But this "Collect coverage" button on top was in 1.2.24 version as well, right?
I used Incognito mode, so it should not be a problem with browser cache.
What is the button next to "Refresh files"? How is it called? I'm looking for that button to open the Coverage report

[2019-04-08 12:24] Raathigesh commented on #116
`Collect coverage` button was introduced in 1.3 and not before that. The button that's next to `Refresh files` only appears if there are [lcov reports which are generated by Jest exists](https://github.com/Raathigesh/majestic/blob/master/server/services/results.ts#L163)

[2019-04-08 12:44] aantipov commented on #116
Ah, ok, I see now.
I started using majestic 3 days ago and I thought it was 1.2.24 (because it reported itself as 1.2.24)
But now I realise that it was 1.3.0 already, because `Collect coverage` was there.

What I was looking for is `Show coverage report` button. This button didn't show up in my case and now I understand why:
1. it should be `lcov` report only
2. I use a custom folder for the cover

[2019-04-08 12:46] Raathigesh commented on #116
Yes, We can enhance the feature to respect `coverageDirectory`. Will reopen this issue to track the enhancement.

[2019-04-08 12:51] Raathigesh commented on #95
Thank you @agustif for the PR 👍  This is released with 1.3 so closing.

[2019-04-08 12:51] #95 closed

[2019-04-08 12:52] #72 closed

[2019-04-09 02:53] ziofat commented on #113
I got this error too. The different is I did not click on watch.
The error occur occasionally.

Happend in v1.2.23 and v1.3.

![image](https://user-images.githubusercontent.com/8521174/55769995-497cb200-5ab5-11e9-94f0-a4661f5addc7.png)

[2019-04-09 03:53] Raathigesh commented on #113
@ziofat Does the error breaks majestic and makes in not usable?

[2019-04-09 03:57] ziofat commented on #113
@Raathigesh Yes it does. The process exited with non-zero code and the buttons in web UI did not respond to any clicks.

[2019-04-09 04:11] Raathigesh commented on #113
It looks like the babel parser is failing to parse. Will take a look.

[2019-04-10 01:15] olavoparno commented on #116
@Raathigesh add another argument for custom coverageDirectory path e.g. --coverageDir="./custom-folder" using process.argv. What do you think about it?

[2019-04-10 04:56] #114 closed

[2019-04-10 09:16] Raathigesh commented on #116
Hey @olavoparno 👋 ,

I was thinking to get the coverage directory from Jest itself (using the `--showConfig` flag).

[2019-04-11 17:02] M4cs opened #120 "[Bug] Overlapping Console Output"
Bug Report 🐛

- Version of Majestic: 1.2.20
- Version of Jest: 20.0.3
- Version of Node: v8.15.1
- Operating System: macOS Mojave

Cannot Reproduce (Large, Enterprise Source Code)

When posting multiple `console.log()`s and getting warnings the text in the console output view overlaps to the point it's unreadable. You cannot see the dropdowns from objects printed in the console.

Example:
<img wid

[2019-04-11 18:06] M4cs commented on #120
<img width="1299" alt="image" src="https://user-images.githubusercontent.com/34947910/55980673-fa747f80-5c62-11e9-82e9-f8509e375a46.png">

Another example

[2019-04-11 18:08] M4cs commented on #120
Upgraded to majestic@1.3.0 (1.2.24) and the problem persists.

<img width="1285" alt="image" src="https://user-images.githubusercontent.com/34947910/55980791-39a2d080-5c63-11e9-8186-705c286f052b.png">

[2019-04-12 14:09] M4cs opened #121 "FR: Add Some Sort of GUI Notification when Majestic breaks and fatally errors."
💡 Feature Request: Add some sort of GUI notification or warning when throwing a fatal error.

- Version of Majestic: 1.3.0
- Version of Jest: 20.0.3
- Version of Node: 8.15.1
- Operating System: macOS Mojave

When editing test files sometimes I have a syntax error. Due to Majestic watching for file changes, when there is a fatal syntax error in my tests/code Majestic will break and exit out of it'

[2019-04-12 14:26] M4cs opened #122 "[Bug] Can't get server running from source."
Bug Report

- Version of Majestic: 1.3.0
- Version of Jest: 20.0.3
- Version of Node: 8.15.1
- Operating System: macOS Mojave

I am trying to help contribute by fixing one of the issues I created (#120). However when trying to start the server through VS Code, I get this error:

<img width="1179" alt="image" src="https://user-images.githubusercontent.com/34947910/56044516-54ca1a80-5d0d-11e9-941f-6

[2019-04-12 14:27] M4cs commented on #122
I get the same error when running one instance of `yarn ui` and one of `yarn server`

[2019-04-13 00:02] Raathigesh commented on #122
Thank you for trying to contribute.

could you please try commenting [this line](https://github.com/Raathigesh/majestic/blob/a2149375910c800e74c3bcb921d62302da8aaa00/server/index.ts#L36) and starting the server again?

[2019-04-13 12:52] Raathigesh commented on #122
also when you start the server, the UI expects the server to run in Port 4000. And also please use the URL that the `yarn ui` gives you to view the UI.

[2019-04-15 11:39] Raathigesh commented on #116
[1.4](https://github.com/Raathigesh/majestic/releases/tag/v1.4.0) is released with this enhancement. Please do test it and feel free to reopen if you run into issues.

[2019-04-15 11:39] #116 closed

[2019-04-15 11:41] Raathigesh commented on #113
When there are syntax errors, we handle it better in version [1.4](https://github.com/Raathigesh/majestic/releases/tag/v1.4.0).

I'm closing it for the time being but feel free to reopen it the issue is not resolved.

[2019-04-15 11:41] #113 closed

[2019-04-15 11:42] Raathigesh commented on #121
We do handle this better in [v1.4](https://github.com/Raathigesh/majestic/releases/tag/v1.4.0). Play with it and let me know.

[2019-04-15 14:37] dangus21 commented on #122
tried commenting that line, no i get this:
![image](https://user-images.githubusercontent.com/3925278/56141230-53f6ea00-5f94-11e9-99a9-ff5e70698d3d.png)

[2019-04-15 15:00] M4cs commented on #122
I commented that line and also got Cannot GET / now. The same issue as @dangus21. I have merged your recent changes into my fork as well and still get the error.

[2019-04-15 15:01] M4cs commented on #122
Using port 9000 fixes the issue after adding jest to the node_modules

[2019-04-15 15:01] #122 closed

[2019-04-15 15:11] M4cs commented on #120
Update:

After some testing this only occurs when using Safari to view Majestic. Chrome works fine with the text output.

[2019-04-15 15:27] M4cs opened #123 "[Bug] Upgraded to majestic 1.4.0, errors with no message in terminal."
Bug 🐛

- Version of Majestic: 1.4.0
- Version of Jest: 20.0.3
- Version of Node: 8.15.1
- Operating System: macOS 10.14

Updated from 1.3.0 to 1.4.0 with `yarn upgrade majestic@1.4.0 --dev` and it won't load in my browser anymore. Says to check terminal but there is no log or error in the terminal and the server keeps running.

[2019-04-15 15:29] M4cs commented on #123
Can confirm it's the 1.4.0 update.

Ran `yarn upgrade majestic@1.3.0 --dev` to downgrade and it's working now.

[2019-04-15 15:30] M4cs commented on #120
I recommend adding a section in the bug reports for browser type.

[2019-04-15 15:40] M4cs opened #124 "[Feat. Req.] Add Keyboard Shortcuts for Running Tests and Refreshing"
Feature Request 💡

Add some keyboard shortcuts to east running tests quickly.

Ctrl + T - All Tests
Crtl + Enter - Single Test
Crtl + W - Watch Mode

Just an idea

[2019-04-15 18:12] huyhqit commented on #123
Hi, @M4cs I downgraded to `majestic@1.3.0` but terminal did not notify error

- Version of Majestic: 1.3.0
- Version of Jest: 24.5.0
- Version of Node: 10.15.2
- Operating System: Window 10

[2019-04-16 00:00] Raathigesh commented on #124
This is a good idea. We should do it.

[2019-04-16 00:01] Raathigesh commented on #123
Can you see anything in the browser console?

[2019-04-16 00:28] huyhqit commented on #123
No, my browser was notify “oops, some thing went wrong. Check the terminal for exact errer mesange!”

[2019-04-16 08:10] huyhqit commented on #123
oh, my browser console https://ibb.co/7NhPXZN

[2019-04-16 09:34] Raathigesh commented on #123
@huyhqit Unfortunately I was able to reproduce it. Would you be able to help me find the issue? A sample repo where this is reproducible would be helpful.

[2019-04-16 12:28] krazylegz commented on #123
I'm able to reproduce this without any changes to https://github.com/GabrieleRomeo/ES6-Professional-starter-kit . I can do:
`git clone https://github.com/GabrieleRomeo/ES6-Professional-starter-kit.git ; cd ES6-Professional-starter-kit ; yarn ; npx majestic`
to replicate the issue. My console has:
[code]

[2019-04-16 13:44] M4cs commented on #123
Same errors as above for me.

[2019-04-16 14:12] robotanz commented on #123
Same issue for me...

[2019-04-16 16:42] huyhqit opened #125 "[Bug] show version of majestic running not correct"
## Is this a bug report or a feature request?

Please specify whether this is a feature request or a bug.

## Version Info

- Version of Majestic: 1.4.0
- Version of Jest: 24.5.0
- Version of Node: 10.5.2
- Operating System: Window 10

I ran `majestic --version` in a terminal, I got version 1.2.24
but in `packages.json`, version `1.4.0`

[2019-04-16 21:47] Raathigesh commented on #123
Thanks, @krazylegz for the repository. I can reproduce the issue. Will get a fix in soon.

[2019-04-17 10:00] Raathigesh commented on #123
Fixed and released in https://github.com/Raathigesh/majestic/releases/tag/v1.4.1.

Please do test it and reopen if the issue is still there.

[2019-04-17 10:00] #123 closed

[2019-04-17 10:01] Raathigesh commented on #125
Please test it with the latest version. This should be fixed.

[2019-04-17 10:37] M4cs commented on #123
Will test today at work. Thanks for the fast fixes!

[2019-04-17 12:19] krazylegz commented on #123
Working for me now, thank you so much!

[2019-04-17 15:05] huyhqit commented on #125
This fixed in version `1.4.1`

[2019-04-17 23:58] matt-senseye commented on #87
Forgive me if this is a stupid question, but does the `jestScriptPath` have to be a JS file to be executed with node, or can it be configured to execute a binary? To run things up with my setup I have to run `ng test` or `yarn test`, which will then compile the relevant jest config and run up jest, but I'm not sure how to configure majestic to work with that.

[2019-04-17 23:58] mattwilson1024 commented on #87
Forgive me if this is a stupid question, but does the jestScriptPath have to be a JS file to be executed with node, or can it be configured to execute a binary? To run things up with my setup I have to run ng test or yarn test, which will then compile the relevant jest config and run up jest, but I'm not sure how to configure majestic to work with that.

[2019-04-18 00:10] Raathigesh commented on #87
It could be any binary but the binary that you provide should forward the args correctly to Jest at the end otherwise things won't work.

Would you be able to share whats in your `yarn test` script has so I could see how we can make it work?

There are no stupid questions :)

[2019-04-18 00:57] mattwilson1024 commented on #87
Thanks @Raathigesh, any thoughts you have would be appreciated :)

My `yarn test` script actually doesn't do much, it just calls `ng test`.

I'm using [@angular-builders/jest](https://github.com/meltedspark/angular-builders/tree/master/packages/jest). My understanding is that it:
- integrates Jest into Angular CLI's workflow
- merges together a default config (defined in the lib) with any override

[2019-04-19 18:43] M4cs commented on #121
Yes much better handling now. Thank you @Raathigesh!

[2019-04-19 18:44] M4cs commented on #121
Reopening because i thought this was an bug not a feature request

[2019-04-19 18:44] #121 closed

[2019-04-19 18:44] M4cs commented on #121
Closed bc i realized this is implemented

[2019-04-23 09:37] Raathigesh commented on #87
hey 👋 ,

I created a sample project and I was able to start majestic with the following config.

[code]

You can add more arguments to the `args` array like the project name.

Let me know if you run into issues.

[2019-04-26 05:06] presidenten commented on #100
Sorry! Totally forgot to test.

It works when I add it to my `package.json`.

Closing the issue.

[2019-04-26 05:06] #100 closed

[2019-04-28 13:42] #58 closed

[2019-05-02 13:30] briwa commented on #115
I've bumped to this issue as well, I could take a look this weekend if you're not already working on this @Raathigesh

[2019-05-03 03:26] Raathigesh commented on #115
You are very welcome to take a look  👍 Thank you for helping out.

[2019-05-04 01:02] jsmey opened #134 "Ability to sort the file tre"
## Is this a bug report or a feature request?
feature request

## Reproduction Repo

If you think this is a useful feature, I started this PR
https://github.com/Raathigesh/majestic/pull/133

[2019-05-04 21:47] M4cs commented on #84
Open Command Palate in VSCode and type in Shell Command > Install command line 'code' to PATH. Then the code shortcut will work.

[2019-05-04 21:47] #84 closed

[2019-05-05 07:52] briwa commented on #92
Is it just me or this has been fixed at least in `master`? ![Screen Shot 2019-05-05 at 3 51 36 PM](https://user-images.githubusercontent.com/8046636/57190528-b74db980-6f4d-11e9-836c-62257e08c585.png)

Seems like the colors are all ok on my side.

[2019-05-05 13:46] #115 closed

[2019-05-05 13:55] #125 closed

[2019-05-05 13:58] Raathigesh commented on #92
I guess sometimes Jest doesn't send colors properly, unfortunately.

[2019-05-07 09:11] FrediLehmann opened #140 "Sticky header on Coverage page"
## Is this a bug report or a feature request?

feature request

## Version Info

- Version of Majestic: v1.4.1
- Version of Jest: 24.1.0
- Version of Node: v10.15.3
- Operating System: macOS Mojave 10.14.4

## Reproduction Repo

On the Coverage page the header should stay in position. Now if i scroll i lose the Row information (like statements, branches, lines etc.).

This section should stick on

[2019-05-07 09:45] Raathigesh commented on #140
We embed the HTML file generated by Jest as an iframe so we can't do much in the way report behaves.

[2019-05-07 13:02] M4cs commented on #124
Any update on this?

[2019-05-07 22:56] alexgorbatchev opened #142 "UI doesn't load"
## Is this a bug report or a feature request?

Bug
## Version Info

- Version of Majestic: 1.4.1
- Version of Jest: 24.7.1
- Version of Node: 10.13.0
- Operating System: OSX

## Reproduction Repo

Run `npx majestic` in a folder where `yarn jest` works fine and has `jest.config.js`, then I just see this:

![image](https://user-images.githubusercontent.com/65633/57338007-979aca80-70e0-11e9-8cf6-d222

[2019-05-07 23:34] jsmey commented on #134
fixed in [https://github.com/Raathigesh/majestic/pull/133](https://github.com/Raathigesh/majestic/pull/133)

[2019-05-07 23:34] #134 closed

[2019-05-07 23:47] jsmey opened #143 "Return to test details after toggling coverage report"
## Is this a bug report or a feature request?
Feature Request
Please specify whether this is a feature request or a bug.

## Version Info

- Version of Majestic: v1.4.1
- Version of Jest: 23.6.0
- Version of Node: v8.12.0
- Operating System: mac

## Reproduction Repo

Select a test file.
Click "Show Coverage Report"
Toggle "Show Coverage Report"
It would be nice if the test file was still open.

[2019-05-08 00:24] Raathigesh commented on #142
Would you please run majestic with the `--debug` flag and share a screenshot or the output?

[2019-05-08 02:57] jsmey commented on #124
@Raathigesh, would you be ok with pulling in https://www.npmjs.com/package/react-hot-keys for this?

[2019-05-08 04:09] jsmey commented on #143
https://github.com/Raathigesh/majestic/pull/144

[2019-05-08 05:07] Raathigesh commented on #124
@jsmey I would go with https://github.com/greena13/react-hotkeys since it seems comparatively well documented? Am I missing something?

[2019-05-08 15:32] #143 closed

[2019-05-08 15:35] jsmey commented on #124
I don't have a preference. I can give this a try.

[2019-05-08 17:53] dyladan opened #146 "[bug] Majestic displays file in green when it fails to compile"
## Version Info

- Version of Majestic: 1.4.1
- Version of Jest: 24.1.0
- Version of Node: 10.15.0
- Operating System: MacOS

## Reproduction Repo

https://github.com/dyladan/majestic-bug-repro

As you can see in the following screenshot, the file name in the file tree is green where I would expect it to be red since the file failed to compile and run.

![image](https://user-images.githubuserconte

[2019-05-08 18:09] alexgorbatchev commented on #142
Here's the output from `--debug`

[code]

[2019-05-08 18:10] alexgorbatchev commented on #142
If I try to disable coverage, there's no visible change in the output.

[2019-05-09 03:19] Raathigesh commented on #124
@jsmey Also, Thank you for all the contributions you are making recently. Appreciate the help very much.

[2019-05-09 03:19] Raathigesh commented on #146
Thank you for proving the sample repo. I'll have a look.

[2019-05-10 13:20] TheGallery commented on #117
I have the same problem where some test names are not visible. This is consistently occuring when using template literals instead of regular strings for the name.

[2019-05-12 01:20] kevinbarabash commented on #54
I was confused by this as well.  I feel like toggling the "watch mode" button should rerun the tests.

[2019-05-13 11:57] Raathigesh commented on #140
I'm closing this. If you have ideas, please feel free to re-open.

[2019-05-13 11:57] #140 closed

[2019-05-13 11:57] Raathigesh commented on #142
That's unfortunate. Would you be able to provide a sample repository?

[2019-05-14 16:29] jsmey commented on #124
@Raathigesh Your welcome. Majestic is a great app!

Here's a PR for the shortcut keys https://github.com/Raathigesh/majestic/pull/147

[2019-05-15 13:48] xavierbriole commented on #142
Same error

[2019-05-17 17:43] M4cs commented on #124
Issue resolved in newest build! Great work @jsmey

[2019-05-17 17:43] #124 closed

[2019-05-17 20:00] davidlukerice opened #148 "it.each not rendering in test list"
## Is this a bug report or a feature request?

Bug

## Version Info

- Version of Majestic: v1.4.1
- Version of Jest: v24.7.1
- Version of Node: v8.12.0
- Operating System: Mac OS v10.14.4

## Reproduction Repo

New create-react-app repo with test case:
https://github.com/davidlukerice/create-react-app-majestic-it-each-test/blob/master/src/App.test.js#L12

this adds an `it.each` test with two case

[2019-05-23 14:23] pirhoo commented on #87
Hey @Raathigesh, thanks for the amazing work!

I'm trying to make it work with vue-cli as well but it looks like it's just ignoring my `jest.config.js` file.

I use the following config:

[code]

And when I run `majestic --debug` I'm getting:

[code]

Any clue?

[2019-05-24 12:50] Raathigesh commented on #87
Hey @pirhoo,

It seems like there is something going on when obtaining coverage report path. Unfortunately, the error is not printed to the output but it should have been. I'll do a release with enhanced error logging so we could see what's going on and also fixed a few things around this area so thing might work as well.

I'll ping here after releasing the next version in a couple of days so you

[2019-05-24 12:52] pirhoo commented on #87
Copy that, thanks @Raathigesh !

[2019-05-26 10:38] Raathigesh commented on #124
Released with 1.5.0 - https://github.com/Raathigesh/majestic/releases/tag/1.5.0

[2019-05-26 10:41] Raathigesh commented on #87
Hi again @pirhoo 👋 ,

Released 1.5.0. Could you please try again.

[2019-05-26 22:06] pirhoo commented on #87
Thanks for the doing this so quickly @Raathigesh!

The error is a little bit more explicit now:

[code]

The Jest config [is here](https://github.com/ICIJ/datashare-client/blob/master/jest.config.js) and works well when executed with jest (thought vue-cli-service). The `package.json` is also valid.

[2019-05-27 10:21] Raathigesh commented on #87
I checked out the repo and it looks like when I provide the `--app` flag, I see the error but without the `--app` flag, it works. Are you seeing the same behavior?

[2019-05-27 10:34] pirhoo commented on #87
You're right, Majestic works well without the `--app` flag :dizzy_face:

[2019-05-27 10:37] Raathigesh commented on #87
That doesn't add up. I'll have a look at it.

[2019-05-27 10:38] pirhoo commented on #87
(in the meantime I'm using the `--noOpen` flag - it's great)

[2019-05-29 20:14] BuckAMayzing opened #149 "Option to default to watch mode on run"
## Is this a bug report or a feature request?

Feature request (subsequent headers deleted because irrelevant).

This is relatively self explanatory. Would it be a small change to add a watch mode parameter? It'd be nice not to have to initialize watch manually each time. I haven't dug into the source much to see if it'd be a big change.

Thanks!

[2019-05-29 20:20] BuckAMayzing opened #150 "Keyboard shortcuts conflict with browser controls"
## Is this a bug report or a feature request?

Bug (debatable)?

## Version Info

- Version of Majestic: Latest
- Version of Jest: irrelevant
- Version of Node: irrelevant
- Operating System: irrelevant

## Reproduction Repo

ctrl-w is the current shortcut for watch mode. This is the button to close a tab in Chrome.
ctrl-s is the shortcut to for search. This attempts to save the page, and appears

[2019-05-30 03:46] Raathigesh commented on #150
Please feel free to create a PR. I'm good with the suggestion. Also please do update the readme to reflect the change. Thanks.

[2019-05-31 10:01] #150 closed

[2019-06-11 08:34] Gherciu opened #153 "Incorect key bindings"
Incorrect key bindings:

Expected:
alt+t - run all tests
alt+enter - run selected file

Result:
ctrl+t - run all tests
ctrl+enter - run selected file
and ctrl+t doesn't work... this command opens a new tab in the browser (Google Chrome)

pls update Readme.md if you have made any change

## Version Info

- majestic: 1.5.0
- jest-cli: 24.7.1
- node:10.15.3
- os: windows

[2019-06-11 09:46] Raathigesh commented on #153
We did change the binding but didn't do a release. With the new release, it should be right. https://github.com/Raathigesh/majestic/releases/tag/v1.6.0

[2019-06-11 09:46] #153 closed

[2019-06-24 14:59] AndrewLeedham commented on #70
Would this make sense as a toggle next to both the `Run tests` and `Run` buttons, so you can toggle whether snapshots should be updated when running all tests or just a single file?

[2019-06-26 12:40] baoduy opened #154 "How to exclude some folders?"
Hi,
I would like to exclude some folders in my project. How could I config it?

Thanks
Duy

[2019-06-30 10:47] Lizhooh opened #155 "Is there a setting for root dir?"
Is there a setting for root dir?

How to change the display start directory, I hope to start from `tests`.

## Version Info

- Version of Majestic: latest
- Version of Jest: v24
- Version of Node: v11
- Operating System: win10

![20190630184330](https://user-images.githubusercontent.com/19299088/60395528-7813a180-9b67-11e9-8c6e-aaa2f7d3715d.png)

[2019-07-01 10:41] Raathigesh commented on #154
Currently, there is no such configuration. Are you looking something similar to https://jestjs.io/docs/en/configuration#testpathignorepatterns-array-string ?

[2019-07-01 10:42] Raathigesh commented on #155
You could run majestic in the `tests` folder directly so it will pick that as the root directory

[2019-07-01 10:44] Raathigesh commented on #149
It should be a small change. We could also save the preference in local storage so you could set once and majestic would remember it.

[2019-07-02 16:23] IPWright83 opened #156 "How do I update a snapshot / where is the button?"
I read that there's a way to update snapshots for an individual test - how do I do this? I can't seem to find a button anywhere in the UI?

I'm hoping to use this to replace my dependance on WallabyJS as this UI is really nice. Well done :)

[2019-07-03 03:25] Lizhooh commented on #155
@Raathigesh

**If you switch directories in npm script, you get this error.**

[code]

![20190703112236](https://user-images.githubusercontent.com/19299088/60561115-0fa20b80-9d85-11e9-9546-dfd3939be995.png)

[2019-07-04 06:55] pinghe opened #157 "[bug] No test result displayed"
## Version Info

- Version of Majestic: 1.6.0
- Version of Jest: 24.8.0
- Version of Node: v12.2.0
- Operating System: ubuntu
- Version of node-fetch: 2.6.0

[code]

[2019-07-04 11:30] Raathigesh commented on #157
Could you please provide an example repository where this issue is reproducible?

[2019-07-04 11:31] Raathigesh commented on #156
If you have a failed snapshot in a test, there should be a button with the text"Update Snapshots" right next to the "Run" button.

[2019-07-04 14:31] IPWright83 commented on #156
I don't see that button... I'll rerrun, double check and get a screenshot of necessary

[2019-07-05 10:26] Raathigesh commented on #156
A screenshot would be really helpful. This could be a bug or a regression.

[2019-07-08 10:06] IPWright83 commented on #156
Sorry for not getting back to you, yeah. Here's a screenshot of what I'm seeing.

<img width="1415" alt="Screenshot 2019-07-08 at 11 05 17" src="https://user-images.githubusercontent.com/1374775/60802247-66865700-a170-11e9-93ac-cc519801b16e.png">

[2019-07-10 08:35] IPWright83 commented on #156
Let me know if I can be of anymore help :) I'm really liking the UI and hoping with Jest watch mode that I can replace WallabyJS with this 👍

[2019-07-10 11:46] Raathigesh commented on #156
Hey, Thank you for the screenshot. It is definitely a bug. I'll have a look into it soon and possibly fix it.

[2019-07-15 13:52] justusbluemer commented on #65
@Raathigesh: Thank you very much for your work on Majestic, it's an awesome tool! :)

I am currently working to get it to run on a server. It's password protected but technically public-facing. This makes it a lot easier for our distributed team to run the same tests that lay centrally on the server.
That way not everyone has to deep-dive into the inner workings of Majestic and Jest testing but ca

[2019-07-16 00:00] Raathigesh commented on #65
@justusbluemer I'm glad that you find the tool useful. Are you open to contributing the change?

[2019-07-16 21:07] benmonro opened #158 "Collapse / Expand file tree"
## Is this a bug report or a feature request?
Feature Request
## Version Info

yes

First off, thanks for a kick ass test runner.

It would be nice to have a way to expand/collapse the file explorer in the left.

[2019-07-22 13:19] vcpablo opened #159 "Wrap test file path to avoid hiding action buttons"
## Is this a bug report or a feature request?

Bug

## Version Info

- Version of Majestic: 1.6.0
- Version of Jest: ^24.8.0
- Version of Node: 10.16.0
- Operating System: macOS Mojave 10.14.3

## Reproduction Repo

As this is quite a simple bug, I did not create a specific repository with test codes to reproduce it. Basically, all it needs to be done is to include a CSS rule `word-break: break-al

[2019-08-07 08:15] ziofat commented on #156
Any update? I have suffered from this for a while.
![image](https://user-images.githubusercontent.com/8521174/62606350-9e7ae880-b92e-11e9-98c4-346cccbbb30b.png)

[2019-08-10 03:24] jaredtmartin commented on #156
I'm having this issue too.  Any update?

[2019-08-23 15:59] IPWright83 commented on #156
@Raathigesh could you put some instructions together on debugging majestic? Maybe I can then take a look if I find any spare time...

[2019-09-03 10:43] ifrontend-xyz opened #160 "How to switch to failing test or failing suites"
How to switch to failing test or failing suites .

[2019-09-03 16:13] jsmey commented on #160
The failed tests button will show on the sidebar when there are failing tests.

<img width="273" alt="Screen Shot 2019-09-03 at 9 09 11 AM" src="https://user-images.githubusercontent.com/10177710/64190173-9ed1ab00-ce2a-11e9-9fd5-656b5a7b93c2.png">

[2019-09-03 16:47] jsmey commented on #159
I can look into this

[2019-09-04 01:02] ifrontend-xyz commented on #160
thank

[2019-09-07 03:44] Raathigesh commented on #159
@jsmey Thanks you!

[2019-09-08 21:24] jsmey commented on #159
https://github.com/Raathigesh/majestic/pull/161

[2019-09-09 00:05] grantcarthew opened #162 "Reports listening on localhost when it is bound to all IP Addresses"
## Is this a bug report or a feature request?

Minor bug in logging

## Version Info

- Version of Majestic: 1.6
- Version of Jest: 24.9
- Version of Node: 12.9.1
- Operating System: Linux Dev 4.9.0-9-amd64 #1 SMP Debian 4.9.168-1+deb9u4 (2019-07-19) x86_64 GNU/Linux

## Reproduction Repo

Reported every time Majestic is executed.

## Issue Details

I just tested Majestic to try it out and it repo

[2019-09-24 14:19] user753 opened #163 "Show a test html rendering"
## Feature request

When libraries like `react-testing-libary` (that emulates user activity) is used It would be useful to view what is going on on the screen

[code]
Majestic could show current document so It would be possible to see how counter is working in test.

[2019-10-03 12:52] IPWright83 opened #164 "Not displaying failed test"
## Is this a bug report or a feature request?

Bug: Majestic has correctly detected a failing test, however it fails to display which test is failing and the detail about it in the UI.

## Version Info

- Version of Majestic: v1.6.0
- Version of Jest: 24.9.0
- Version of Node: v10.16.3
- Operating System: Windows 10x64

## Reproduction Repo
I can't currently provide an example rep, but I can proba

[2019-10-04 07:15] Raathigesh commented on #164
it looks like the failing test is not even displayed in the UI. Probably the parser is failing to parse it properly. Does the test has any syntactical difference to other tests? Probably using `.each` or something else?

[2019-10-04 07:16] #160 closed

[2019-10-04 07:17] Raathigesh commented on #163
if you have the HTML string, you could console.log() it and majestic would show you the string in the UI.

[2019-10-04 07:19] #154 closed

[2019-10-04 07:21] #157 closed

[2019-10-04 07:34] user753 commented on #163
@Raathigesh Yes, for small html string it could work. But if it's a functional test for whole page, see such html isn't very useful. In this case I would like to see rendered html in browser.

[2019-10-04 13:39] IPWright83 commented on #164
[code]

[2019-10-04 16:51] andkvo opened #165 "Watch mode just cycles over and over"
## Is this a bug report or a feature request?

Feature request? I need debug to print out a statement of which files are triggering the test runs and persist the output.

## Version Info

- Version of Majestic: v1.6.0
- Version of Jest: 24.1.0
- Version of Node: 12.10.0
- Operating System: macOS 10.14.6

## Reproduction Repo

First of all: Majestic is amazing. But watch mode doesn't actually watch

[2019-10-20 18:03] GoMino commented on #164
Hello Guys, I just discovered this project, thanks for your work!

I have the same problem here as described here, failing test description is not shown

[2019-10-24 04:50] G-Rath opened #166 "Support IntelliJ/WebStorm IDE"
While I have VSCode installed, I use IntelliJ/WebStorm for development.

IntelliJ supports being called [from the command line](https://www.jetbrains.com/help/idea/working-with-the-ide-features-from-command-line.html), and will magically handle figuring out if it needs to open a new project or not, if it's already open.

i.e, from `WSL` I can do:

[code]
And it opens brings that project into focus

[2019-10-31 06:56] rahulakrishna commented on #117
@Raathigesh, I figured out the root cause for this issue. The `ast/inspector` expects a `StringLiteral` to parse the names. And gets the value from `path.node.arguments[0].value`.

For `TemplateLiteral`, Using the `babel/parser`, we're able to get the variable name but not the value of the variable.

`path.node.arguments[0].expressions` give a list of variable names used in the `TemplateLiteral`.

[2019-10-31 08:24] rahulakrishna commented on #117
@mulholio , Are you using template literals inside tests? Can you elaborate why you would want template literals.

Personally, I've always assumed that tests are supposed to have hardcoded names and not dynamic names.

[2019-10-31 09:24] Raathigesh commented on #117
Hey @rahulakrishna,

Thanks for digging into this. If you ask me, we don't need to get the variable value, just even displaying the variable name as is (e.g: `hello ${name}`) would be sufficient.

[2019-11-01 18:56] rahulakrishna commented on #166
Hi @G-Rath ,

Majestic looks for an `EDITOR` value in path before assuming to open the file in `code`. What that means is, you can set your `EDITOR` path to Webstorm and clicking "Open in Editor" will open the file inside Webstorm.

[2019-11-11 04:54] NickBolles commented on #65
I'm running into this too. Same issue as @justusbluemer I get the initial decision not to include it, but seems like pretty simple thing to add, and without it its not possible to use over https connections.

[2019-11-12 04:50] #117 closed

[2019-11-12 05:54] Raathigesh commented on #65
@NickBolles I'm not against it but didn't get the time or motivation to work on it yet. Reopening the issue. Feel free to send a PR if you are interested.

[2019-12-11 14:56] robertheessels commented on #65
For me this is crucial too. Running via an Nginx proxy.

I tried changing
`let WS_URL = "ws://localhost:4000";`
to
`let WS_URL = "wss://localhost:4000/wss";`
but that did not help.

Changing ws:// to wss:// should enable the websocket over the https proxy.
And adding /wss helps in Nginx proxying the websocket the right way.

But my guess is adding /wss makes the websocket of Majestic fail?

[2019-12-13 10:26] goldbergyoni opened #172 "Feature request: POSTMAN like view"
This is a feature request.

Just an idea - POSTMAN is super-popular for API testing. It's downside however is pushing toward manual work. Something changed? run all the routes again manually and don't forget anything.

Many people also code tests against APIs (super popular for backend Microservices), however the test runner and results are not centered around routes. What if Majestic had a POSTMA

[2019-12-14 00:10] Raathigesh commented on #172
Hi @goldbergyoni,

That's an interesting use-case but it looks like if we are to implement it, we also have to supply an SDK which allows the developers to write the tests in a certain way. Majestic's aim is to be a GUI for Jest with minimal or zero configuration and incorporating this specific use-case feels like majestic becoming more opinionated.

Can't these tests be structured using the neste

[2019-12-17 09:54] IGionny commented on #164
Hi!
This project seems really nice! Thank you!
.. But I have similar issue:
If I click on "Run tests" button, it show me 4 passing suites, 38 passing tests and so on...seems it works!
But if I click on the test files it not show me any details.
In terminal I can see 'Determining test suites to run...' as output.
Seems that he can't find the test suites..but it can run them...

I can notice a stran

[2019-12-17 11:20] IGionny commented on #164
I did a test: if I run majestic from the Windows 10 WSL subsystem (Ubuntu) ...it works great!
...it's not the perfect solutions but for now it works!

Thank you!

[2019-12-19 17:44] amilajack opened #173 "Feature: Add CI Support"
Currently we're not using any CI. I'm willing to create a PR for this

[2019-12-19 21:42] Raathigesh commented on #173
Hey @amilajack 👋,

Thanks for offering to help.

We do have a few integration tests written in Cypress (https://github.com/Raathigesh/majestic/tree/master/integration) and we use GitHub actions to run those tests - https://github.com/Raathigesh/majestic/actions. These tests used to run in Travis but I later moved those to Github since it's easier to manage all in one place.

I think it would be ni

[2019-12-19 22:12] #173 closed

[2019-12-24 02:03] zalos commented on #7
Hey @Raathigesh, Project is awesome, hopefully I'll get some time myself to have our team contribute. That said, im working with NRWL NX, and in particular angular.

Given that, my tests pass in normal NRWL NX / NG Test, but fail in majestic. Im looking to use preset shown above, etc, but not really getting anywhere. I'm going to play around with it a bit more, but if anyone else is working on thi

[2019-12-24 02:09] Raathigesh commented on #7
@zalos If you create a very simple repo, I could help to look into it as well.

[2020-01-02 00:57] TransmissionsDev opened #176 "Failed to open file in editor. You may need to install the code command to your PATH if you are using VSCode: spawn code ENOENT."
## Is this a bug report or a feature request?

Bug Report

## Version Info

- Version of Majestic: Latest
- Version of Jest: 24.9.0
- Version of Node: v12.13.1
- Operating System: MacOS El Capitan

When I run `majestic` in this repo cloned to my machine (https://github.com/kentcdodds/js-mocking-fundamentals) and click one of the `open in editor` buttons, I see this error in the VS Code terminal:

[2020-01-02 02:13] Raathigesh commented on #176
Can you try executing the "[Install code command in Path](https://code.visualstudio.com/docs/setup/mac#_launching-from-the-command-line)" from VSCode.

[2020-01-02 02:32] TransmissionsDev commented on #176
Fixed thank you!

[2020-01-02 02:32] #176 closed

[2020-01-02 15:45] jarrodmedrano commented on #7
I'm using jest + majestic in angular and it works great

[2020-01-03 02:33] trustyoo86 opened #177 "Is there change majestic logo?"
## Is this a bug report or a feature request?

Feature request

## Version Info

- Version of Majestic: 1.6.1
- Version of Jest: 24.9.0
- Version of Node: 8.9.4
- Operating System: Mac OS X

## Reproduction Repo

I want to use this testing tool in my company, But someone ask me that change majestic logo in sidebar. I thought that change logo option is useful for company test server. Could I pull r

[2020-01-03 23:28] Raathigesh commented on #177
Sure

[2020-01-03 23:29] #172 closed

[2020-01-28 09:56] pavelzubov commented on #65
We need to show that UI-test are passing on the dev-server for the whole team. Please, do this.

[2020-01-29 06:44] pavelzubov commented on #65
@Raathigesh
I tried to change http and ws to secure type in client and server, but I don't have the necessary experience in graphql-yoga, maybe this requires additional config (I don't know values for `https` option in `server.start`).
If you can give me the necessary instructions for make this work, I could send a PR with this.

[2020-01-29 07:49] Raathigesh commented on #65
@pavelzubov Thanks for looking into it.

Yes, the[ https options ](https://github.com/prisma-labs/graphql-yoga/blob/master/src/types.ts#L84)can be provided through the start method of the server.

The doc also mentions a bit more about https option - https://github.com/prisma-labs/graphql-yoga#startoptions-options-callback-options-options--void----null-promisevoid

[2020-01-30 07:05] pavelzubov commented on #65
@Raathigesh yes, I was read it)
But, what I will write in `cert` field? I can't put my own certificate or suggest users to put their own in the config.
I'm going the wrong way. I shouldn't change the graphql-yoga config. This should work in HTTP as before. Issue in that:
- Majestic works over HTTP, we provide access to Majestic through a proxy, which adds a HTTPS.
- Your UI expects HTTP connection

[2020-01-30 09:02] Raathigesh commented on #65
@pavelzubov is changing the URL to `wss` be enough? If so, we could introduce a command-line argument which when provided will change the client URL to `wss`.

[2020-01-30 10:03] pavelzubov commented on #65
@Raathigesh no, @robertheessels  write about it above in https://github.com/Raathigesh/majestic/issues/65#issuecomment-564582818.
I get the following message in console:
![image](https://user-images.githubusercontent.com/27726590/73439221-5928f800-4360-11ea-8f95-7ebaee583a62.png)

[2020-01-30 11:10] Raathigesh commented on #65
So that means we have to provide the cert and key to the `graphql-yoga` server. We can accept the paths to the cert and the key as command-line arguments and then provide those to the server.

But you also mentioned the below in your previous comment which is confusing me.

[2020-01-30 13:29] pavelzubov commented on #65
@Raathigesh
Oh, sorry, I made a mistake. I ran the code on localhost (on HTTP). This of course will return an error.
On server changing URLs to `wss` and `https` works.
I can send PR. This change applies for PRODUCTION, so I use `protocol` from `window.location` and condition for webSocket protocol inside `if (PRODUCTION)` condition :
[code]

[2020-01-30 22:25] Raathigesh commented on #65
@pavelzubov That looks good to me. Let's do that 👍

[2020-01-31 22:49] gregveres commented on #164
I have the same problemas @IGionny, when I launch majestic from Yarn with this command in my package.json file:
[code]
I get the Majestic firing up in a browser. it correctly identifies my single unit test file and lists it under "Tests" in the left nav and it gives me the grey bar in the right panel that says the path to the test, but the number of suites it reports is 0 and the number of tests i

[2020-01-31 22:54] gregveres commented on #164
This is the output of running jest. This is after I wrapped the entire thing in a single describe block to see if that helped with parsing:

[code]

[2020-01-31 23:10] gregveres commented on #164
Now this is interesting. I noticed that there is a --debug flag. So I ran 'majestic --app --debug' and watched the output.

When it ran within majestic, this is the output that came out:
[code]
Notice that there is no summary section of which tests passed and failed. it must be the way that jest is being called. Note that there is console output. And this was picked up and displayed. So I thought

[2020-01-31 23:25] gregveres commented on #164
I decided to take the command line parameters that majestic was using to run jest and use them in my package.json file to run jest in the same way.

As soon as I put in the '--reporters <path>majestic/dist/server/scripts/reporter.js' into the command, jest started to fail, saying that jest didn't exit 1 second after the commands finished. It had stack traces. I wonder if what is happening is that

[2020-02-01 01:30] gregveres commented on #164
I think we can ignore my last comment about the timeout. I looked at the error more closely and realized that in running the reporter.js, it was expecting to get the port and I hadn't set it.
I set the environment variable for the port and then I re-ran it. This is what I got:

[code]

I had Majestic running in another window and I saw that it spit out more output when the tests ran. But I am gues

[2020-02-01 01:54] gregveres commented on #164
Nope, it must be a parsing thing. I ran node and jest in a debugger and I set a break point in the reporter.js file. There were no crashes and no error command failed with exit code 1. But the post still didn't populate the tests in the UI.

Here is the body as a json object that it was about to pass to the server:
[code]

It would appear that the error is on the server side that is accepting this

[2020-02-01 01:58] gregveres commented on #164
Pinging @Raathigesh in case he hasn't seen any of this yet. When this issue happens, Majestic is pretty much useless unfortunately. And at least in my case, it is happening 95% of the time, probably 100% of the time with this single unit test I am working on.

[2020-02-01 21:55] gregveres commented on #164
@Raathigesh I wonder if this has anything to do with it: I get this in the chrome javascript console.
[code]

I have downloaded the github repo and tried debugging the server. It appears to be functioning correctly. It gets the proper values and seems to parse them fine from jest. So I am moving on to the UI. I want to see if the client is getting the right data from the server. That's when I noti

[2020-02-01 22:27] gregveres commented on #164
@Raathigesh I tried to fix the problem by installing the babel plugin: "@babel/plugin-proposal-optional-chaining" and rebuilding my local copy and copying the dist over top of my installed global version of majestic. I can't figure out how to run my development version of majestic on an external project so I am finding it hard to debug the client.

Anyway, I am now watching the debug statements in

[2020-02-01 22:52] gregveres commented on #164
@Raathigesh I am debugging the client and in ui/test-file/index.tsx there is a variable called fileItemResult. That is always an empty object and I believe that is causing the problem because in the render function the section where it renders the test results is rendering the fileItemResult
[code]

since fileItemREsult is always an empty object, then there is nothing to render. I can't figure out

[2020-02-02 01:09] gregveres commented on #164
@Raathigesh Here is what I have found out so far:
The response to the query:
[code]

is an error and this is what screws up the listing of the tests, I believe. Here is the response to this query:

[code]

Could you look into fixing this? With it broken like this Majestic is pretty much useless. I will switch to seeing if I can figure out if it is something in my test file that is triggering it.

[2020-02-02 01:14] gregveres commented on #164
BTW, in case it wasn't clear, the error is coming from the server when we query for the fileItems. So I was mistaken when I said it looked like the problem was on the client.

[2020-02-02 02:21] gregveres commented on #164
@Raathigesh BREAK THROUGH!!!
The issue is that in my unit test file (which is typescript), I had this function:
[code]

The issue is the ?. operator. I don't know what version of babel is processing that file, but whatever installation of babel is doing it, doesn't know how to handle the ?. operator and throws an error while parsing it.

The strange thing is that this works just fine when I run je

[2020-02-02 05:49] Raathigesh commented on #164
@gregveres Thank you for digging through the details to find the root cause. Appreciate it.

I think [the parser we use to extract the test names from a test file ](https://github.com/Raathigesh/majestic/blob/master/server/services/ast/parser.ts)is not handling the optional chaining properly.

Enabling the support for optional chaining, [by looking at the docs](https://babeljs.io/docs/en/babel-par

[2020-02-02 14:41] gregveres commented on #164
@Raathigesh pull request created. It turned out to be quite simple once you pointed me to that file. I would have never found the right file otherwise. Thank you.

I did a 'yarn run prod' on my branch and then copied the server directory over top of my globally installed copy of majestic and then launched majestic on my project. All the unit tests showed up properly even when I had used optional c

[2020-02-04 12:22] IPWright83 commented on #164
@gregveres wow, I've only just come across these updates. Awesome work and digging. I probably need to go through the same.

Unfortunately for me we had **no** optional chaining, so this is unlikely to fix the problem I was having with the tests.

[2020-02-04 12:52] gregveres commented on #164
@IPWright83 now that I am done with the investigation, I can look back and short circuit a lot of it. :)  If you open the chrome debugger and see an error message that says something like:

[code]

Yours will probably say something different than optionalChaining in the plugin field. There are many other plugins that could be added based on the features you are using in your test code.

[2020-02-04 13:09] IPWright83 commented on #164
@gregveres thanks, I'll take a look at some point :)

[2020-02-04 20:35] gregveres opened #180 "FR: collapsing sections within the test window"
## Is this a bug report or a feature request?
Feature request

## Version Info

- Version of Majestic: 1.6.2
- Version of Jest:
- Version of Node:
- Operating System:

## Reproduction Repo

I use a lot of describe blocks in my test to group together tests that test a logical area. For instance, I am testing a navbar component right now that changes based on the type of club that user belongs to an

[2020-02-04 22:13] Raathigesh commented on #180
It's a very handy feature to have. We could maintain a separate client-side state to keep track of the expanded state based on the name of the block (describe/test/it). Do you think you would be willing to contribute to this feature?

[2020-02-04 22:19] gregveres commented on #180
Yes I was thinking of taking on the task since I learned a bit about the client during my investigation into the other issue. And I like the tool and expect to keep using it long term.

[2020-02-04 22:26] Raathigesh commented on #180
That's awesome. Let me know if I run into any issues so I could help.

[2020-02-05 00:19] gregveres opened #181 "test list gets screwed up when multiple tests have the same name but are in different describe blocks"
## Is this a bug report or a feature request?

bug

## Version Info

- Version of Majestic: v1.6.2
- Version of Jest:
- Version of Node:
- Operating System:

## Reproduction Repo

Create a unit test with two describe blocks and each describe block place the a test with the same name.

[code]

What you will see is the proper display of two describe blocks, each with one test in it, but both tests w

[2020-02-05 00:20] gregveres commented on #181
If I get to the other feature request of collapsing describe blocks, I will try to fix this.

[2020-02-05 03:19] gregveres commented on #180
@Raathigesh
The TestFileItem has an id that looks something like this: 'U365Jimuvm6kRCwzXKX-r'. Do you know where that is coming from? It seems to be different for the same test each time the page draws.

My test environment has two test files: file 1 and file 2. When I draw the screen for file 1, I get a set of Ids for the describe and it blocks. Then when I switch to file 2 and back to file 1 to

[2020-02-05 05:11] Raathigesh commented on #180
The ID is generated [every time the file is parsed](https://github.com/Raathigesh/majestic/blob/master/server/services/ast/inspector.ts#L86).

[2020-02-05 05:16] Raathigesh commented on #180
I wonder whether we could maintain the collapsed state by creating a `clientID` in the frontend which is essentially the title of the test concatenated with its parent block title.

- First Describe (clientID: "First Describe")
 - Second Describe (clientID: "First Describe-Second Describe")
   - Third Describe (clientID: "First Describe-Second Describe-Third Describe")
      - Test A (clientID: "F

[2020-02-07 11:19] pavelzubov commented on #65
I make PR:
https://github.com/Raathigesh/majestic/pull/182
We ran into difficulties and I think that these page will be useful for Majestic users who will try use it on HTTPS and nginx:
https://www.nginx.com/blog/websocket-nginx/
Without this websockets in Majestic will not work.

[2020-02-07 11:20] pavelzubov commented on #65
@Raathigesh
I make PR:
#182
We ran into difficulties and I think that these page will be useful for Majestic users who will try use it on HTTPS and nginx:
https://www.nginx.com/blog/websocket-nginx/
Without this websockets in Majestic will not work.

[2020-02-08 16:29] gregveres commented on #180
I got some time this morning to work on this. My thinking is to tackle this on both the front end and back end. Since you pointed out that the backend always regenerates the id every time the file is refreshed, I started there. With the checkin that I just did (new branch), the backend will re-use Ids for the same elements. It keeps track of the ids that have been assigned already. I keep a cache

[2020-02-09 03:37] Raathigesh commented on #180
Thanks for doing this. I will go through the PR by this week and get back to you.

[2020-02-09 15:35] gregveres commented on #165
@andkvo I looked into this a little bit since I am looking at the code for another issue.
It turns out that Majestic is just running Jest in watch mode. Majestic doesn't actually watch any files for change. I then ran jest --watch --debug on my project to see if jest would tell me which file caused the test run and it doesn't.

What I suggest is that you file a feature request with Jest to ask the

[2020-02-09 15:36] gregveres commented on #181
Apparently when you mention an issue in a github comment, it assumes you are saying that you are fixing the issue with the PR. That is not the case. That PR does not fix this issue. I am looking into this issue to see if I can create a PR for a fix. Hopefully I will submit one today.

[2020-02-09 15:42] gregveres commented on #181
I fixed the PR. It now indicates that it will fix the FR, not this bug.

[2020-02-09 22:10] gregveres commented on #181
This has now been fixed and unfortunately included the PR of the collapsable UI branch.

[2020-02-09 22:22] gregveres opened #184 "FR: clicking on a failed test should open the failed test to that line in the editor"
## Is this a bug report or a feature request?

feature request

## Version Info

- Version of Majestic: latest
- Version of Jest: 25
- Version of Node:
- Operating System: Windows

## Reproduction Repo

When a test fails, Jest is really good at spitting out the line of the assertion that failed. It would be nice if you could click on the div for that failed test and have it open the test file to t

[2020-02-09 22:33] gregveres commented on #184
I think I know what to do in order to implement this.
I can use the OPEN_IN_EDITOR mutation as a template. It turns out that VSCode opens a file to the line and column you specify if you specify them as :line_number:column_number after the file name.

The only tricky bit will be extracting the file name from the error text. I think that can happen on the server side code. We can send the failure s

[2020-02-10 00:20] gregveres commented on #184
I have a PR ready to be submitted for this FR. I will submit it when the collapsable ui PR is accepted or rejected.

[2020-02-22 18:09] nfarina commented on #156
Having this button would be so useful! Currently I have to update via command line then re-run in Majestic.

[2020-02-24 20:50] Contrapuntist opened #185 "Tests written with test.each not shown"
## Is this a bug report or a feature request?

I think this qualifies as a bug.

When using Jest's test.each(), Majestic appears to acknowledge the tests exist, but the UI does not represent it in any way.  You can tell in the screenshot below that 6 tests are passing, but the UI only indicates there are three tests.

![image](https://user-images.githubusercontent.com/6516311/75189634-377b2080-571

[2020-03-09 14:09] GowthamX commented on #142
Facing same error too. Is this resolved?

[2020-03-09 14:52] GowthamX commented on #142
@Raathigesh  - Could you please let me what are the details needed please?
I am facing the same issue too, so i can share the same

[2020-03-09 15:16] GowthamX commented on #142
@Raathigesh - works now. Please ignore.
Added the below in package.json which is given in Issue-87. :+1:

  "majestic": {
    "jestScriptPath": ".\\node_modules\\jest\\bin\\jest.js",
    "args": [
      "test"
    ]
  },

[2020-03-24 06:30] zeevrosental commented on #181
hi!,
any reason why this wasn't merged yet?

[2020-04-09 16:54] gregveres opened #186 "FR: clicking on a test with a snapshot should open the snapshot for viewing"
This is a feature request.

I have started doing unit tests for Vue components and I find that I am opening up the snapshot to see the underlying html that I need to run tests against. This makes it much easier to write the unit tests and to know where to put the "data-test" attributes so that I can use them in my tests.

It would be great if Majestic could recognize that a unit test file has an a

[2020-04-11 01:46] tohagan commented on #156
Not fixed yet?

[2020-04-15 07:12] adamkleingit commented on #156
I opened a PR:
https://github.com/Raathigesh/majestic/pull/187

[2020-04-15 09:54] IPWright83 commented on #186
I used to use WallabyJS quite a bit, one of the really good features that had was an option to open a snapshot in a side-by-side diff (which makes for much easier comparison) and then update the snapshot from the dialog if the new is correct.

[2020-04-15 10:07] IPWright83 commented on #180
I don't know how far you got with this - but if expand/collapse functionality existed, you could by default start with all `describe` blocks collapsed (unless there is a failing test within it). This then allows you to quickly navigate to the tests you're interested in.

[2020-04-15 10:15] IPWright83 opened #188 "File structure is flat?"
**Bug**: The file structure doesn't seem to show indentation making it difficult to understand which file sits where.

## Version Info

- Version of Majestic: v1.6.2
- Version of Jest: v24.9.0
- Version of Node: v12.16.1
- Operating System: Ubutunu 18.04.4 LTS

## Reproduction Repo

1. Create a directory structure within your project
2. Run your tests with `majestic --app`
3. You expect to see the

[2020-04-15 13:04] gregveres commented on #186
@IPWright83 Yes, that would be a great feature!

[2020-04-15 13:09] gregveres commented on #180
@IPWright83 The code is working, Raaghigesh doesn't like the implementation, which I can understand, its his project.

Hmm, I thought I had started the describe blocks as collapsed, but I don't. I also thought I scrolled to the first error, but I don't. I guess it can be improved some more. :)

It isn't quite as straight forward as just collapsing all the describe blocks. I would like the top leve

[2020-04-17 01:54] gregveres commented on #186
@IPWright83 actually, I am pretty sure it starts flat. When I double checked 2 days ago, I didn't realize that I had overwritten the version I was checking with the unmodified version. I am having trouble building right now, but I will double check that it starts collapsed. The original reason I wanted collapsing in the first place is because i have lots of tests in each file and the list was too

[2020-05-04 06:21] Raathigesh commented on #188
This is a regression we introduced recently. Will try to fix it.

[2020-05-04 06:25] Raathigesh commented on #180
Sorry, @gregveres I never got back to your regarding that collapsible PR. I've been not very active on any of my OSS projects recently but I'll get back to it soon :)

[2020-05-06 10:29] Raathigesh commented on #188
Fixed in v1.7.0

[2020-05-06 10:29] #188 closed

[2020-05-06 10:40] #177 closed

[2020-05-06 19:00] TheJaredWilcurt commented on #166
@rahulakrishna Why not add an option in the UI and store it in Local Storage. I am very against polluting my global PATH

[2020-05-08 13:04] rahulakrishna commented on #166
@G-Rath , I did try using a package called `env-editor` to get a list of all locally installed editors and open it. It did not work reliably in my experience. However there seems to exist something called `open-editor` that may just work. Will try once more

[2020-05-09 12:32] TheJaredWilcurt commented on #166
`env-editor` is used by `open-editor`, and from what I can see they only work on OSX.

Also many editors offer "portable" versions which will not be installed in the PATH or in a common "Program Files (x86)"-like location.

Even if you recursively scanned the entire hard drive and knew of the exact files you were looking for for every editor and could find them, often people have multiple editors

[2020-05-11 13:57] pdashford commented on #164
I also have the same problem, says failing tests, but these are not shown in the UI, switching to the console shows the tests Jest failed. Any update on this?

[2020-05-11 14:18] gregveres commented on #164
@pdashford this has been fixed by PR #178. I see that there have been a number of pull requests merged lately so maybe a new npm version is about to come out.

[2020-05-11 14:50] pdashford commented on #164
Thanks @gregveres

[2020-05-12 10:54] ethan-cao commented on #164
Hi, I was running Majestic 1.7.0, and there were Test suite failed to run, but in Majestic UI, the test file is still marked as green.

Version of Jest: 24.6.0
Version of Node: v12.16.1
Operating System: Windows 10x64

![Annotation 2020-05-12 125017](https://user-images.githubusercontent.com/5484463/81675632-679ea980-944f-11ea-9744-a9dd1a5db3ed.jpg)

[2020-05-13 09:34] Raathigesh commented on #164
@gregveres the optional chaining change is released as a part of https://github.com/Raathigesh/majestic/releases/tag/v1.7.0

@pdashford If you could provide a sample repo, that would be really helpful to investigate.

[2020-05-14 18:28] gregveres commented on #184
Anybody who is interested in this feature can use my fork. I have updated my fork to the latest version (1.7.0)

[2020-05-14 18:28] gregveres commented on #180
Anybody who is interested in this feature can use my fork. I have updated my fork to the latest version (1.7.0)

[2020-05-14 18:34] gregveres opened #191 "FR: a button to generate the snapshots for a single test before tests fail"
## Is this a bug report or a feature request?

This is a feature request.

## Version Info

- Version of Majestic: 1.7.0
- Version of Jest: 25.3
- Version of Node:
- Operating System:

## Reproduction Repo

I would like to repurpose the <> button on a unit test page. I would like to replace that button with a camera icon that, when clicked, would run jest -u <unit test file> so that jest will crea

[2020-05-14 18:39] gregveres opened #192 "FR: single file watch mode"
## Is this a bug report or a feature request?

feature request

## Version Info

- Version of Majestic: v1.7.0
- Version of Jest: v25
- Version of Node:
- Operating System:

## Reproduction Repo

There is a watch mode in Majestic already. It would be nice if there  was a way to execute a watch mode on a single file. Jest supports this. I would recommend that a new button with the eye icon be added

[2020-05-14 20:52] gregveres commented on #192
It turns out that this is already implemented. When I went looking in the code for how to implement this, I found that it is already implemented. Here is how you enable it:

click on the "start watching" button on the left side panel.
Then find the test file you want to run in watch mode.
click on that file to make it visible in the right panel
click on the run button in the upper right window of

[2020-05-14 20:52] #192 closed

[2020-05-14 21:34] gregveres commented on #191
Looking at the code, I think all that needs to happen is that the condition for displaying the update snapshot button should be removed. This would display the snapshot button all the time, which I believe is an improvement.

Ideally it would be great if we knew that there were snapshots in the file and if that was the case, then display the button. But if we can't know that there are snapshots in

[2020-05-14 22:11] gregveres commented on #159
@jsmey and @Raathigesh I don't think this is fixed. I am pretty sure that PR #161 was supposed to fix it but it still remains an issue.

I don't think the OP's solution of breaking the path with word-break is the best approach. I put in a "flex-wrap: wrap" to the container and that seemed to do a better job. Once the left and right boxes don't have enough room, the buttons wrap to the next line.

[2020-05-14 22:15] gregveres commented on #159
The commit is over in my fork: https://github.com/gregveres/majestic/commit/0356052205bc55be41deaafefd65364b8427d3e0

[2020-05-15 00:40] gregveres commented on #186
@IPWright83 just in case you are still interested in this, I updated my fork to the latest version from the master fork and then continued enhancing it. It turned out that the tests did default to open, but now on my fork they default to closed. If the maintainer takes the collapse code, then I can create PRs for all the other enhancements that I have done. I think at this point it is pretty close

[2020-05-15 00:44] gregveres commented on #181
@zeevrosental if you want a version that fixes this issue, you can build my fork. It is now up to date with the latest changes from the main fork and it includes  few extra enhancements that I will do separate PRs for if this original code is accepted.

[2020-05-15 00:53] gregveres opened #193 "FR: indication of test run started and finished"
## Is this a bug report or a feature request?

Feature request

## Version Info

- Version of Majestic: 1.7.0
- Version of Jest:
- Version of Node:
- Operating System:

## Reproduction Repo

I am using watch mode for a single file. When I save the file in question, jest kicks off a test run and when the test run is done, jest gets the results. All the while, the hashed background on the test-file/

[2020-05-15 09:58] IPWright83 commented on #186
@gregveres honestly I got a little confused by the expand/collapse discussion with relation to snapshots!

[2020-05-15 14:23] Evertvdw opened #194 "Generated coverage incorrect"
## Is this a bug report or a feature request?

Bug

## Version Info

- Version of Majestic: 1.7.0
- Version of Jest: 24.9.0
- Version of Node: 12.13.1
- Operating System: Windows

## Reproduction Repo
Complex work project so cannot share.

## Issue
The generated coverage report by Majestic in the UI does not match the coverage report generated by Jest when running it in the command line.

For comp

[2020-05-15 14:30] Evertvdw commented on #194
Ok, I found the issue, it looks for the lcov-report which is in the project folder. However this was an old report and we don't use that anymore today. I had to add 'lcov' to the coverageReporters in my jest.config.js to get this to work.

[2020-05-15 14:30] #194 closed

[2020-05-17 13:00] #159 closed

[2020-05-18 12:28] ziofat commented on #123
I have this issue with 1.7.0. @Raathigesh

[2020-05-18 16:08] gregveres opened #199 "root directory must match OS specification"
## Is this a bug report or a feature request?

This is a bug report. I am on windows, but I was trying to follow your instructions for setting up the development environment. I went into cli.ts and I set my root to a unix type path (not wanting to have to escape every backslash in the path). Majestic found the tests and could run the tests, but the tree didn't show anything. Instead it showed my r

[2020-05-18 18:53] gregveres opened #201 "FR: don't throw away results while new test is running"
## Is this a bug report or a feature request?

This is a feature request that is built on top of PR #193. I have been running Majestic for a few days with the new style summary header. I like it, but I find that my workflow is the following:

1. have a single test file running in watch mode
2. make a change to the test or the test subject to fix a failing test.
3. as soon as I make the change, I g

[2020-05-18 19:03] gregveres commented on #201
@Raathigesh
I started looking at a solution to this, but my knowledge of react and apollo is limited. I think the real problem here is that test-file/index.tsx is a functional component rather than a class based component. My understanding of the functional component is that they have no context and have to create the output completely from the input. But in this case, the only input they are give

[2020-05-18 19:13] gregveres commented on #201
OK, creating a cached result that is at the file scope for test-file/index.tsx works, but it feels hacky.

I was playing around a bit more and I see that when I switch between different tests, the client asks the server for the results. So the server is caching the results per file somewhere. This leads me to think that changing the server events is the better change. And that starting a new test

[2020-05-18 20:27] gregveres commented on #201
Already I think I have found a solution.
In [workspace/resolver.ts](https://github.com/Raathigesh/majestic/blob/master/server/api/workspace/resolver.ts#L158) I see there are two types of event Ids that trigger this subscription: TEST_RESULT and TEST_START. So instead of creating a brand new, empty TestFileResult for the TEST_START, I think the solution is to look up this files latest test result a

[2020-05-19 14:27] gregveres opened #203 "PR: provide a collapse all and expand all button for the file tree"
## Is this a bug report or a feature request?

I would like to see a collapse all and an expand all button for the file tree in the right panel. I have a lot of tests in a lot of subdirectories. The easiest way to find the one I am working on is to navigate the file tree. However, the file tree is too big to work with when it is fully expanded (which it is by default).

I would like to see two but

[2020-05-22 12:53] wakeupmh opened #206 "FR: Supports Mocha & Chai"
**Is this a bug report or a feature request?**

feature request

**Version Info**

    Version of Majestic: latest
    Version of Jest: latest
    Version of Mocha: latest
    Version of Chai: latest
    Version of Node:
    Operating System: all

[2020-05-25 22:22] gregveres commented on #201
@Raathigesh
There are a couple bugs with this commit. I am noticing some cases that aren't handled. I am going to articulate them here and when I get a chance, I will see about fixing them. As I encounter others related to this change, I will add them to the list and get them fixed - hopefully by the end of the weekend:

1. when there is an error (TS or JS syntax error), the summary banner keeps a

[2020-06-01 17:52] vladinator1000 commented on #87
hey y'all, what if you have more than one test script, for example
[code]

[2020-06-22 08:51] svdHero opened #207 "Test status and test output not displayed"
## Is this a bug report or a feature request?

Bug Report

## Version Info

- Version of Majestic: v1.7.0
- Version of Jest: v24.9.1
- Version of Node: v14.0.0
- Operating System: Windows 8.1

## Description

I have React app created via `npx create-react-app my-app --template typescript --use-npm` with out-of-the-box Jest functionality. I then added some unit tests, which run fine via `npm test`.

[2020-07-16 00:53] gabycasper007 commented on #142
I'm also getting the same error

[code]

[2020-07-16 01:12] gabycasper007 commented on #142
solved with a `yarn install`

[2020-07-26 02:18] heavenkiller2018 opened #209 "feature request: it would be wonderful if it can specify one lonely test in a file, just like vscode-jest-runner"
## Is this a bug report or a feature request?
a feature request

Please specify whether this is a feature request or a bug.

feature request: it would be wonderful if it can specify one lonely test in a file, just like vscode-jest-runner. besides , in monorepo structure, it is nessesary to specify different jest config in each project

## Version Info

- Version of Majestic:
- Version of Jest:
- V

[2020-07-31 20:54] henriqueyang opened #211 "Question: How could I deploy Majestic as a static website? Would it needs Nginx?"
How could I deploy Majestic as a static website? Would it needs Nginx?

[2020-08-02 10:39] Raathigesh commented on #211
You need to run it in a node server.

[2020-08-02 22:46] #211 closed

[2020-08-08 08:23] C0ZEN opened #212 "Majestic stops when a `it` is a `todo`"
## Is this a bug report or a feature request?

Majestic does not handle the `.todo` for a `it` and just stops.
This is annoying and I do not see any usefulness of this.

## Version Info

- Version of Majestic: 1.7.0
- Version of Jest: 26.2.2
- Version of Node: 13.7.0
- Operating System: W10

## Reproduction Repo

- Create a test with `it.todo(``);`.
- Run Majestic.
- Majestic stops.
- Remove the t

[2020-08-13 07:25] rbarbazz commented on #212
After doing some testing it appears that any empty template will fail, for instance: `test(``)` or `it(``)`.

I can make a PR to address this.

[2020-09-08 13:53] ap1969 opened #214 "How to run with sourcecode or sourcemaps?"
Hi,
I'm trying to resolved an issue with my install which seem to occur a number of times in other issues logged, but there's no clear answer: I get the error:

[code]

In an attempt to debug this, is there any way to run it from the src, rather than the public NPM package? Specifically, if I have one project folder with my app in it, how can I copy the majestic src to another folder to then run i

[2020-09-08 22:54] Raathigesh commented on #214
Hi,

Thanks for trying to debug the problem. This guide should help - https://github.com/Raathigesh/majestic/blob/master/CONTRIBUTING.MD

Do let me know if you run into further problem.

[2020-10-07 20:41] yunielrc opened #215 "Qué es esto?"
![Screenshot from 2020-10-07 16-40-22](https://user-images.githubusercontent.com/28462092/95385378-e6dbc080-08bb-11eb-8025-c8db079c4438.png)

[2020-10-08 17:27] constgen commented on #215
May be somebody uses `npx majestic` instead of `npm install majestic`

[2020-10-10 09:54] C0ZEN commented on #212
Still waiting for the PR to be merged.
@rbarbazz get the job done a while ago.

[2020-10-12 08:58] #212 closed

[2020-10-23 17:20] davidlukerice commented on #184
Is there a way from preventing this behavior when highlighting text? I'm often wanting to copy different sections of the error or test or just highlight pieces while thinking and am finding myself constantly being kicked back into vscode unintentionally.

[2020-11-04 15:22] gregveres commented on #207
Yes I have seen that too. I have found a workaround is usually, if I click on another test and then come back to this test file, the results should show.

[2020-12-02 19:19] davidlukerice commented on #207
I'm starting to see this more in my CRA v4 project (which uses jest v26.6.0) after upgrading from CRA v3.
It typically happens when trying to run individual files or tests with `it.only`. Changing to a different file and back doesn't fix it anymore for me, and when I get back to the original file, the top banner is showing the 'test is running' animation.
The console that I'm running majestic from

[2020-12-04 01:21] fernand0aguilar commented on #207
I am having the same issue as you guys can see in the screenshot.
![Screenshot from 2020-12-04 02-20-27](https://user-images.githubusercontent.com/16293264/101109510-5d085500-35d7-11eb-8771-073a50f63d42.png)

Pretty weird. Any solutions?

[2020-12-04 07:03] svdHero commented on #207
No, so far not. I have stopped using Majestic because of this. I hope this bug gets fixed soon.

[2021-03-27 19:33] crobinson42 opened #219 "I f***ing love this tool."
Just wanted to say, THANKS 🙏

![giphy](https://user-images.githubusercontent.com/5973579/112732672-92271300-8ef8-11eb-9c92-211e78e2f221.gif)

[2021-04-06 05:02] robsonsobral commented on #207
I'm under the impression the paths are somehow messed up. On Firefox, I'm getting:

[code]

`'C:\Users\sobral\_repositories\foo\'` is a symlink pointing to `'E:\_repositories\foo\'`.

Accessing the folder directly, not by symlink, makes everything work fine.

[2021-04-19 15:37] Barlots opened #220 "[Bug] Tests run inside arrow function are not listed and lacking names"
### Bug

- Version of Majestic: v1.8.0
- Version of Jest: 26.0.20
- Version of Node: v15.12.0
- Operating System: Windows 10 Pro 20H2

### Reproduction:
When creating test inside arrow function to be used multiple times with different parameters, Majestic sometimes shows one, nameless test entry in GUI, or no tests at all

[code]

![obraz](https://user-images.githubusercontent.com/5208199/11526294

[2021-06-03 15:14] ap1969 commented on #207
Same problem: `Uncaught (in promise) Error: GraphQL error: ENOENT: no such file or directory, open 'C:\dev\<package folder>\C:\dev\<other package folder>\src\services\tags\tags.jest.js'`

My set-up involves some scripts in the package folder, and some outside.

No symlinks involved.

Running on windows 10.

In jest.config.js, I have the roots property listing both folders:

[code]

. I suspect thi

[2021-06-16 21:25] inlightmedia commented on #123
I'm seeing this with 1.8.0

[2021-07-04 11:55] Raathigesh commented on #219
Hey @crobinson42,

I'm glad you are liking the tool and thank you for taking the time to share the feedback.

[2021-07-15 14:47] haikyuu commented on #219
I just used it and I JUST LOVE IT.

Thanks a ton. Super useful after a big refactoring

[2021-09-03 04:44] gavinharris-dev commented on #219
Agree with the sentiment; stumbled across this tool few days ago and I am so happy that I did! Amazing work! Thank you!

[2021-09-08 13:53] #156 closed

[2021-09-13 15:05] sktguha commented on #209
Yes , I would like to add to it, if we could see in the left index, the individual tests , instead of just the jest file, that would be awesome

[2021-09-17 18:10] fega commented on #209
Also in webstorm there is an instant feedback of tests when they past, not until the entire test suite fails,  I'd like to help with this project.

[2021-11-26 12:59] mmesarosiuSP commented on #207
@frag997 It's happening for me too and unfortunately I haven't found any solution. In this case the only way to see why a test is failing is by checking the terminal. But the error output in the GUI is what makes Majestic so useful.

[2021-11-29 13:31] imkarmadev commented on #123
same in 1.8.1

[2021-12-22 17:16] duykhoa commented on #184
In my case, it opens multiple Vim processes and consumes over 80% of CPU. Is there a way to disable this feature?

[2022-01-14 13:47] IPWright83 opened #222 "GraphQL error preventing tests being shown"
## Is this a bug report or a feature request?

Bug

## Version Info

- Version of Majestic: 1.8.1
- Version of Jest: 6.14.12
- Version of Node: 12.22.1
- Operating System: Ubuntu 20.04.3

## Reproduction Repo

I can't really provide a quick reproduction, but I am happy to dig and find more information to diagnose. Essentially I get no tests shown in the file window for 1 particular file. I've not

[2022-02-13 01:17] #108 closed

[2022-02-16 14:42] davidlav commented on #222
Yep, some problem here in Firefox (pictured), Chrome, and Edge.

    Version of Majestic: 1.8.1
    Version of Jest: 27.5.1
    Version of Node: 16.3.0
    Operating System: Windows 10

![image](https://user-images.githubusercontent.com/18689323/154287398-98b1a0f5-9df0-497e-ab44-d56c11d73f1f.png)

[2022-03-29 06:49] sschneider-ihre-pvs opened #223 "🐛 Majestic not showing ui"
I only see the following on starting majestic `ÿ`

 Majestic v1.8.1 is running at http://localhost:4000
[code]

[2022-05-04 10:26] ojaoc commented on #222
I submited a PR to solve a similar issue, turns out the parser was breaking on numeric separators, but might still be happening in other situations. Nonetheless, PR #224

[2022-05-10 13:55] MattCollins84 commented on #223
I am getting the same, it opens the URL in the browser but nothing happens except it refuses to connect/times out.

using the `--debug` flag shows nothing either

[code]

[2022-05-10 15:45] MattCollins84 commented on #185
The same happens for `describe.each`

[2022-08-11 11:54] SkyaTura opened #225 "[Feature Request] VSCode extension"
## Is this a bug report or a feature request?

- [ ] Bug Report
- [x] Feature Request

## Description

A VSCode integration to show majestic as an internal page.

This would allow developers to get all together without switching windows back and forth to the browser.

[2022-08-24 16:34] dwaynelavon commented on #142
I'm still having this issue when using a basic NextJS setup. Tried all of the solutions above and nothing helped.

[2022-10-20 11:40] rmarmitt commented on #155
Same

[2022-11-08 21:12] EvanAgee opened #226 "Cannot read properties of undefined (reading 'projectRoot')"
## Is this a bug report or a feature request?
Bug Report

## Version Info

- Version of Majestic: v1.8.1
- Version of Jest: 29.3.0
- Version of Node: v16.17.0
- Operating System: MacOS

When attempting to run majestic I get a console error of `Cannot read properties of undefined (reading 'projectRoot')`